
<div class="d-flex justify-content-center">
  <% if (success) { %>
    <form method="POST" action="/api/v1/   /reset/<%= verifyCode %>?redirect=true&isVerified=<%= isVerified %>">
    <% if (info) { %>
      <div class="alert alert-success" role="alert">
        <%= info %>
      </div>
    <% } %>
    <% if (error) { %>
      <div class="alert alert-danger" role="alert">
        <%= error %>
      </div>
    <% } %>
    <div class="mb-3">
      <!-- TODO: Double Confirmation Password -->
      <label for="exampleInputEmail1" class="form-label">New Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">Please enter your new password.</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <% } else { %>
      <h2>Verification failed :(</h2>
      <a href="/register">Click here to register</a>
  <% } %>
</div>
