
<div class="d-flex justify-content-center">
  <!-- ?redirect=true is needed when accessed from view -->
  <form method="POST" action="/api/v1/auth/reset?redirect=true">
    <% if (info) { %>
      <div class="alert alert-success" role="alert">
        <%= info %>
      </div>
    <% } %>
    <% if (error) { %>
      <div class="alert alert-danger" role="alert">
        <%= error %>
      </div>
    <% } %>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
