<main>
  <span style="opacity: 0">
    <%= Date.now(); %>
  </span>
  <h1>Promise Team</h1>
  <p>
    <strong>Hello <%= name %></strong> Follow this link to reset your password.
  </p>
  <p>
    <a href="<%= url %>">Click here</a>
  </p>
  <span style="opacity: 0">
    <%= Date.now(); %>
  </span>
</main>
