<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Promise Team</title>
  <style>
     /* Styling here */
  </style>
</head>
<body>
  <%- include(page, props); %>
</body>
</html>
