<main>
  <span style="opacity: 0"><%= Date.now(); %></span>
  <h1>Promise Team</h1>
  <p>
    <strong>Hello <%= name %></strong> Follow this link to verify your email address.
  </p>
  <p>
    <a href="<%= url %>">Click here to accept the invitation</a>
  </p>
  <span style="opacity: 0"><%= Date.now(); %></span>
</main>
