@media (max-width: 90rem), (min-width: 90rem) {
    .review-section {
        background-color: #FAFAFA;
        font-family: Poppins;
    }
}

.button-review, .pagination-review > ul li a {
    color: #E4479C;
    border-color: #E4479C !important;
}

.button-review:hover, .pagination-review > ul li a:hover {
    color: white !important;
    background-color: #E4479C;
}

.pic-reviews {
    border-top-left-radius: 2.5rem !important;
    border-bottom-left-radius: 2.5rem !important;
    height: 100%;
    object-fit: cover !important;
}

.review-modal-content {
    border-radius: 2.5rem !important;
}

.rating-stars ul > li.star {
    display: inline-block;
}

.rating-stars ul > li.star > i.fa {
    font-size: 1.25rem;
    color: #C4C4C4;
}

.rating-stars ul > li.star.hover > i.fa,
.rating-stars ul > li.star.select > i.fa {
    color:#FFC200;
}

.form-summary-review > input, 
.form-summary-review > input:hover, 
.form-summary-review > input:focus {
    border-color: #E4479C;
    border-radius: 0.7rem;
    border: 0.125rem solid #E4479C;
}

.form-description > label {
    font-size: 0.875rem;
}

.form-description > textarea, 
.form-description > textarea:hover,
.form-description > textarea:focus {
    font-size: 0.875rem;
    border-color: #E4479C;
    border-radius: 1.25rem;
    border: 0.125rem solid #E4479C;
    height: 9.1875rem;
}

.button-submit-review, .button-submit-review:focus {
    color: white !important;
    background-color: #E4479C;
    border-color: #E4479C;
}

.button-submit-review:hover {
    color: #E4479C !important;
    background-color: white;
    border-color: #E4479C;
}
