.vendor-views > .container > .page {
  font-size: 14px;
  margin-top: 18px;
}
.vendor-views > .container > h1 {
  font-weight: bold;
  font-size: 34px;
  margin-bottom: 16px;
  margin-top: 40px;
}
.vendor-views > p {
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 40px;
}
.multiple-selection {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.search {
  display: flex;
  position: relative;
}
.search .search-input:focus {
  outline: none !important;
  border: 2px solid #e4479c;
}
.multiple-selection .search-input {
  background: #ffffff;
  border-radius: 40px;
  border: 2px solid #ffffff;
  width: 504px;
  height: 62px;
  font-size: 18px;
  color: #49516f;
  opacity: 0.7;
  padding: 18px 65px 18px 24px;
  margin-top: 24px;
  margin-bottom: 35px;
  box-shadow: -1px 6px 23px -8px rgba(0, 0, 0, 0.54);
}
.search-icon {
  display: flex;
  position: absolute;
  background-color: #e4479c;
  border-radius: 40px;
  width: 50px;
  height: 50px;
  padding-top: 14px;
  padding-left: 14px;
  right: 7px;
  top: 30px;
}
.search-icon:hover {
  background-color: #b23779;
}
.dropdown {
  display: flex;
  column-gap: 24px;
}
.verified {
  visibility: visible;
}
.filter {
  background: #e4479c;
  border: none;
  border-radius: 40px;
  padding: 8px 16px;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  max-height: 40px;
}
.multiselect {
  width: 180px;
}
.selectBox {
  position: relative;
}
.selectBox select {
  width: 95%;
  font-size: 14px;
  color: #e4479c;
  background-color: transparent;
  padding: 10px 16px;
  border: 0px;
}
.selectBox select:focus {
  background-color: #b23779;
}
.overSelect {
  position: absolute;
  border: 2px solid #e4479c;
  border-radius: 40px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.checkboxes {
  margin-top: 8px;
  display: none;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  padding: 20px 20px 8px 20px;
}
.checkboxes input {
  margin-right: 12px;
  margin-bottom: 16px;
}

.checkboxes label {
  display: block;
  font-size: 14px;
}
.review p {
  font-size: 10px;
}
.checkboxes input[type='checkbox']:checked {
  accent-color: #e4479c;
}
.cards,
.cardsproduct {
  visibility: visible;
  margin-top: 76px;
  display: flex;
  column-gap: 27px;
  row-gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}
.card.cardcust,
.cardproduct {
  cursor: pointer;
  width: 258px;
  max-width: 258px;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  padding: 30px 21px;
  border-radius: 20px;
  border: 2px solid #c4c4c4;
}
.card.cardcust:hover,
.cardproduct:hover {
  background: rgba(255, 71, 126, 0.11);
}

.card-image.cardcust-image {
  height: 150px;
  max-width: 237px;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.card.cardcust-title .title,
.cardproduct .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 8px;
}
.card.cardcust h1,
.cardproduct h1 {
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  margin-bottom: 0px;
}
.card .detail,
.cardproduct .detail {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.card.cardcust .detail p,
.cardproduct .detail p {
  margin-bottom: 0px;
  font-size: 12px;
}
.detail .review,
.detail .city {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.page-navigation {
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 119px;
}
.page-navigation,
#pages {
  display: flex;
}
#pages a {
  text-decoration: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.page-navigation > a {
  text-decoration: none;
  border: 0.5px solid #dee2e6;
  height: fit-content;
  padding: 4px 8px;
  font-size: 14px;
}
#btn_prev {
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  color: #e4479c;
}
#btn_next {
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  color: #e4479c;
}
#pages li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
}
#pages li a {
  color: #e4479c;
  font-size: 14px;
}
.page-navigation ul {
  padding-left: 0;
}
#pages li {
  border: 0.5px solid #dee2e6;
  width: 25px;
}
