.detail-vendor {
  background-color: #fafafa;
}

/* breadcrumb */
.breadcrumb-item {
  font-size: 12px;
}
.breadcrumb-item.active {
  color: #e4479c !important;
}

/* profile */
section.profile {
  margin-top: 20px;
}

.profile {
  margin-top: 20px;
}

.h-info > p {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.col-md-2 > p {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.vendor-rating {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.h-info > h4 {
  margin: 0;
  padding: 0;
}

.col-telp {
  width: fit-content;
}

.btn-copy {
  background-color: #fdc8e5;
  width: 25px;
  height: 25px;
  border-radius: 35px;
}

/* info-  tab */

.nav-link-vendor {
  color: #0b254b !important;
  margin-right: 30px;
  font-weight: bolder;
  display: inline-block;
  position: relative;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

a.nav-link-vendor.active {
  color: #e4479c !important;
}

a.nav-link-vendor {
  padding: 10px 150px !important;
}

ul.nav.nav-tabs {
  justify-content: center !important;
  border-top: 1px solid #e4479c;
  border-bottom: 1px solid #e4479c;
}

/* about */
.paragraph-about > p {
  margin-left: 60px;
}

.text-justify {
  text-align: justify;
}

#wrapper {
  overflow: auto;
}

#wrapper2 {
  overflow: auto;
}

#lisence-img {
  background: #c4c4c4;
  float: right;
}

#lisence-text {
  float: right;
  margin-right: 100px;
  font-weight: bolder;
}
.siup-lisence {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

p.menu-title {
  margin: 0;
}
