.product-detail-row {
  max-width: 1200px;
  margin: 0 auto;
}

.swiper-container-product {
  height: 807px;
}

.swiper-product {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide-product {
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.gallery-top {
  height: 80%;
  width: 100%;
}

.gallery-thumbs {
  height: 23%;
  box-sizing: border-box;
  padding: 10px 0;
  width: 80%;
  margin-top: 10px;
}

.gallery-thumbs .swiper-slide-product {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide-thumb-active {
  border: 2px solid #e4479c;
}

/* product desc */
.product-detail-desc {
  margin-top: 80px;
}

.product-detail-desc-detail {
  white-space: pre-wrap;
}

.product-detail-desc > h4 {
  font-weight: 700;
  font-size: 34px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e4479c;
}

/* product order */
.product-detail-order {
  border-radius: 40px;
  border: 1px solid #c4c4c4;
  text-align: center;
  padding: 64px 0;
  margin-bottom: 32px;
}

.product-detail-order-title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 8px;
}

.product-detail-order-vendor {
  font-size: 16px;
  color: #0b254b;
  margin-bottom: 32px;
}

.product-detail-order-price {
  margin-bottom: 32px;
}

.product-detail-order-price-desc {
  flex-basis: 200px;
}

.product-detail-order-price-desc > .normal {
  font-size: 16px;
  color: #0b254b;
  text-decoration-line: line-through;
  text-align: start;
  margin-bottom: 8px;
}

.product-detail-order-price-desc > .discount {
  font-weight: 700;
  font-size: 24px;
  text-align: start;
  margin-bottom: 0;
}

.product-detail-order-price-disc {
  flex-basis: 85px;
  background-color: #f76e11;
  color: #ffffff;
  border-radius: 10px;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-detail-order-price-disc > .hemat {
  font-size: 10px;
  margin-bottom: 0;
}

.product-detail-order-price-disc > .selisih {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 0;
}

.product-detail-order-category {
  display: flex;
  justify-content: start;
  align-items: center;
  box-shadow: 0px 1px 24px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  height: 52px;
  max-width: 200px;
  margin: 0 auto;
  padding-left: 16px;
}

.product-detail-order-category p {
  margin-bottom: 0;
  padding-left: 12px;
  font-weight: 500;
  font-size: 14px;
  color: #49516f;
}

.product-detail-order-line {
  margin: 32px;
}

.product-detail-order-city p {
  font-size: 16px;
  color: #0b254b;
  margin-bottom: 8px;
}

.product-detail-order-city .city {
  font-weight: 700;
  font-size: 24px;
  color: #0b254b;
  margin-bottom: 0;
  margin-left: 8px;
}

.product-detail-order-capacity p {
  font-size: 16px;
  color: #0b254b;
  margin-bottom: 8px;
}

.product-detail-order-capacity .capacity {
  font-weight: 700;
  font-size: 24px;
  color: #0b254b;
  margin-bottom: 0;
  margin-left: 8px;
}

.product-detail-order-date {
  margin: 0 32px;
}

.product-detail-order-date p {
  font-size: 16px;
  color: #0b254b;
  margin-bottom: 8px;
}

#product-detail-order-date-input {
  border: 1px solid #e5e0eb;
  border-radius: 40px;
  padding: 12px;
  color: #949494;
  margin-bottom: 32px;
}

.product-detail-order-btn {
  border: 2px solid #e4479c;
  border-radius: 40px;
  padding: 8px 56px;
  background-color: #ffffff;
  color: #e4479c;
  font-weight: 700;
  font-size: 16px;
}

.product-detail-order-btn:hover {
  background-color: #e4479c;
  color: #ffffff;
}

/* product vendor */
.product-detail-vendor {
  border: 1px solid #c4c4c4;
  border-radius: 40px;
  padding: 24px;
}

.product-detail-vendor-imgwrapper {
  width: 128px;
  height: 128px;
  margin-bottom: 20px;
}

.product-detail-vendor-imgwrapper > img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.product-detail-vendor-rating {
  margin-bottom: 23px;
}

.product-detail-vendor-rating p {
  margin-bottom: 0;
}

.product-detail-vendor-star {
  color: #ffc200;
  margin-right: 5px;
}

.product-detail-vendor-name {
  font-weight: 700;
  font-size: 20px;
  color: #272727;
  margin-bottom: 0;
}

.product-detail-vendor-location {
  color: #272727;
  margin-bottom: 19px;
}

#iconfix {
  margin: 0;
}

.product-detail-vendor-btn {
  background-color: #e4479c;
  border-radius: 40px;
  padding: 8px 16px;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}
