.vendor-product-container {
  margin-top: 40px;
}

.card-product {
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 12px;
}

.product-img {
  width: 100%;
  height: 256px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.product-title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 16px;
}

.card-info {
  margin-bottom: 16px;
}

.card-desc {
  color: #6e798c;
  font-weight: 600;
  font-size: 24px;
  font-weight: 400;
  font-size: 16px;
  white-space: pre-wrap;
}

.btn-card {
  color: #f999b7;
  font-weight: 700;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
}

.btn-card-arrow {
  color: #f999b7;
  margin-left: 8px;
}

.product-desc {
  padding: 40px 24px;
}

.product-card-icon {
  margin-right: 8px;
}

.product-card-icon-container {
  margin-right: 16px;
}

/* pagination */
.pagination-container {
  margin: 144px auto;
  text-align: center;
}

#pagination-demo {
  display: inline-block;
}

#pagination-demo li {
  display: inline-block;
}

.page-link {
  color: #e4479c;
}

.page-item.active .page-link {
  background-color: #e4479c;
  border-color: #e4479c;
}
