/* promo */
.discount-promo {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ffedf7;
  height: 700px;
}

.discount-promo-title {
  text-align: center;
  margin-bottom: 100px;
}

.discount-promo-title > h2 {
  font-size: 40px;
  font-weight: 500;
  color: #e4479c;
}

.discount-promo-title > p {
  font-size: 20px;
  color: #737373;
}

.discount-swiper-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  /* width: 995px; */
  width: 100%;
  max-width: 1440px;
}

.discount-swiper {
  width: 100%;
  height: 311px;
  padding-bottom: 15px;
}

.discount-swiper-slide {
  /* text-align: center; */
  font-size: 18px;
  background: #fff;
  border-radius: 20px;
  transform: translateX(-150%);
  width: 28%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #000;
  position: relative;

  /* Center slide text vertically */
  /* display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center; */
}

.discount-swiper-slide > .img {
  text-align: center;
  background-color: #5e6e89;
  width: 100%;
  height: 80%;
  border-radius: 20px 20px 0 0;
}

.discount-img-wrapper {
  width: 100%;
  height: 100%;
}

.discount-img-wrapper > img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.discount-swiper-slide > .discount-desc {
  background-color: #fff;
  height: 20%;
  border-radius: 0 0 20px 20px;
  display: flex;
  align-items: center;
  padding-left: 27px;
}

.discount-desc > .avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #949494;
  margin-right: 10px;
}

.discount-desc > .info > h4 {
  font-weight: 600;
  font-size: 14px;
  margin: 0;
}

.discount-desc > .info > p {
  font-size: 12px;
  margin: 0;
}

.discount-swiper-slide > .discount-discount {
  position: absolute;
  top: 13px;
  left: -13px;
}

.discount-text {
  background-color: #e4479c;
  padding: 2px 47px 2px 17px;
  color: #fff;
  font-weight: 700;
}

.discount-triangle {
  width: 0;
  height: 0;
  border-top: 7px solid #b23779;
  border-left: 7px solid transparent;
  border-right: 7px solid #b23779;
  border-bottom: 7px solid transparent;
}

.discount-swiper-button-next,
.discount-swiper-button-prev {
  filter: drop-shadow(0px 4px 44px rgba(0, 0, 0, 0.36));
  margin-right: 20px;
  margin-left: 20px;
}

.discount-swiper-button-next::after,
.discount-swiper-button-prev::after {
  display: none;
}

.discount-swiper-pagination-bullet-active {
  background-color: #e4479c;
}

.discount-swiper-pagination-bullet {
  width: 40px;
  height: 4px;
  border-radius: 10px;
}

.discount-swiper-pagination {
  position: absolute;
  bottom: -30px !important;
}

.discount-price {
  position: absolute;
  top: 100px;
  left: 22px;
}

.discount-price > .discount-price-normal {
  font-size: 14px;
  text-decoration-line: line-through;
  margin-bottom: 4px;
}

.discount-price > .discount-price-discount {
  font-weight: 700;
  font-size: 18px;
}

.discount-card {
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  width: 30%;
  margin: 1%;
  height: 300px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
