@media (max-width: 90rem), (min-width: 90rem) {
    footer {
        font-family: Poppins;
    }

    .footer-bottom {
        background-color: white;
    }
}

.footer {
    background-color: #E4479C;
}

p.description {
    line-height: 150%;
    letter-spacing: 0.005em;
    font-size: 1.125rem;
}

.social-media li {
    display: inline-block;
}

.terms-condition {
    color: #5E6E89;
    line-height: 175%;
}
.terms-condition:hover {
    color: #E4479C;
}

.copyright {
    color: #5E6E89;
    line-height: 175%;
}