.header {
  background-image: url('/images/header-img.jpg');
  background-size: cover;
  background-position: center;
  height: 692px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  position: relative;
  /* margin-bottom: 100px; */
}

.header > h1 {
  font-weight: 600;
  font-size: 42px;
  margin-bottom: 12px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header > p {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 42px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header > a {
  background-color: #e4479c;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  /* padding: 8px 16px; */
  border-radius: 40px;
  width: 202px;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.header > a:hover {
  background-color: #b23779;
}

.custom-shape-divider-bottom-1646130321 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1646130321 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 161px;
}

.custom-shape-divider-bottom-1646130321 .shape-fill {
  fill: #f4f4f4;
}

/* hightlight */
.highlight {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f4f4f4;
  padding-top: 100px;
}

.highlight-title {
  text-align: center;
  margin-bottom: 100px;
}

.highlight-title > h2 {
  font-size: 40px;
  font-weight: 500;
  color: #0b254b;
}

.highlight-title > p {
  font-size: 20px;
  color: #949494;
}

.highlight-feature {
  display: flex;
  flex-wrap: nowrap;
  gap: 110px;
  justify-content: center;
  width: 100%;
  /* width: 1165px; */
  padding-bottom: 148px;
}

.highlight-feature > div {
  /* flex: 1 1 0px; */
  padding: 0 20px;
  text-align: center;
  width: 350px;
}

.highlight-feature > div > img {
  margin-bottom: 20px;
}

.highlight-feature > div > h4 {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 12px;
}

.highlight-feature > div > h4 {
  font-size: 20px;
}

/* promo */
.promo {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ffedf7;
  height: 700px;
}

.promo-title {
  text-align: center;
  margin-bottom: 100px;
}

.promo-title > h2 {
  font-size: 40px;
  font-weight: 500;
  color: #e4479c;
}

.promo-title > p {
  font-size: 20px;
  color: #737373;
}

.home-swiper-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  /* width: 995px; */
  width: 100%;
  max-width: 1440px;
}

.home-swiper {
  width: 100%;
  height: 311px;
  padding-bottom: 15px;
}

.home-swiper-slide {
  /* text-align: center; */
  font-size: 18px;
  background: #fff;
  border-radius: 20px;
  transform: translateX(-150%);
  width: 28%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #000;

  /* Center slide text vertically */
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; */
}

.home-swiper-slide:hover {
  color: #e4479c;
}

.home-swiper-slide > .img {
  text-align: center;
  background-color: #5e6e89;
  width: 100%;
  height: 80%;
  border-radius: 20px 20px 0 0;
}

.home-img-wrapper {
  width: 100%;
  height: 100%;
}

.home-img-wrapper > img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.home-swiper-slide > .home-desc {
  background-color: #fff;
  height: 20%;
  border-radius: 0 0 20px 20px;
  display: flex;
  align-items: center;
  padding-left: 27px;
}

.home-desc > .avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #949494;
  margin-right: 10px;
}

.home-desc > .avatar > img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.home-desc > .info > h4 {
  font-weight: 600;
  font-size: 14px;
  margin: 0;
}

.home-desc > .info > p {
  font-size: 12px;
  margin: 0;
}

.home-swiper-slide > .discount {
  position: absolute;
  top: 13px;
  left: -13px;
}

.home-discount-text {
  background-color: #e4479c;
  padding: 2px 47px 2px 17px;
  color: #fff;
  font-weight: 700;
}

.home-triangle {
  width: 0;
  height: 0;
  border-top: 7px solid #b23779;
  border-left: 7px solid transparent;
  border-right: 7px solid #b23779;
  border-bottom: 7px solid transparent;
}

.home-price {
  position: absolute;
  top: 170px;
  left: 22px;
}

.home-price > .home-price-normal {
  font-size: 14px;
  text-decoration-line: line-through;
  margin-bottom: 4px;
}

.home-price > .home-price-discount {
  font-weight: 700;
  font-size: 18px;
}

.home-swiper-button-next,
.home-swiper-button-prev {
  filter: drop-shadow(0px 4px 44px rgba(0, 0, 0, 0.36));
  margin-right: 20px;
  margin-left: 20px;
}

.home-swiper-button-next::after,
.home-swiper-button-prev::after {
  display: none;
}

.swiper-pagination-bullet-active {
  background-color: #e4479c;
}

.swiper-pagination-bullet {
  width: 40px;
  height: 4px;
  border-radius: 10px;
}

.home-swiper-pagination {
  position: absolute;
  bottom: -30px !important;
}

/* vendor */
.vendor {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 30px;
  width: 100%;
}

.vendor-image {
  margin-right: 72px;
}

.vendor-image > img {
  max-width: 677px;
  width: 100%;
  height: auto;
}

/* .vendor-desc {
  width: 100%;
} */

.vendor-desc > h2 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
}

.vendor-desc > p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 64px;
  max-width: 500px;
  color: #5e6e89;
}

/* .vendor-desc-icons {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 60px;
}

.vendor-desc-icon {
  padding: 16px 12px;
  margin: 16px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #49516f;
}

.vendor-desc-icon > img {
  margin-right: 12px;
} */

.vendor-desc > a {
  background-color: #e4479c;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  border-radius: 40px;
  width: 269px;
  height: 62px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.vendor-desc > a:hover {
  background-color: #b23779;
}

.line {
  /* padding-bottom: 80px; */
  /* border-bottom: 2px solid #e4479c; */
  border: 2px solid #e4479c;
  max-width: 1110px;
  margin: 40px auto;
}

/* package */
.package {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 30px;
  width: 100%;
}

.package-image {
  margin-left: 72px;
}

.package-image > img {
  max-width: 677px;
  width: 100%;
  height: auto;
}

.package-desc > h2 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
}

.package-desc > p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 64px;
  max-width: 500px;
  color: #5e6e89;
}

.package-desc > a {
  background-color: #e4479c;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  border-radius: 40px;
  width: 269px;
  height: 62px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.package-desc > a:hover {
  background-color: #b23779;
}
