



.navbar_logo {
    margin-left: 150px;
    margin-top: 25px;
    margin-bottom: 70px;
}

.icon_logo {
    width: 150px;
    height: 56px;

}

#deck-container {
    border-radius: 40px;
    background-color: white;
    max-width:637px;
    max-height: 862px;
}

.title_login {
    margin-top: 96px;
}

.form_input_tag{
    background-color: white;
    border-radius: 40px;
    font-size: 20px;
    max-width: 526px;
    height: 62px; 
    padding: 16px 24px;
}

.form_input_tag:focus {
    border-radius: 40px;
    font-size: 20px;
    border-color: #E4479C;
    box-shadow: none;
}



.toggle_password {
    color: #949494;
    position: absolute;
    margin-left: -30px;
    margin-top: -10px;
}

#visibilityBtn,
#visibilityBtn2 {
    color: #949494;
    cursor: pointer;
    margin-left: -45px;
    margin-top: 6px;
}

.toggle {
    align-items: center;
    display: flex;
    border-radius: 40px;
    width: 526px;
}

.forgot {
    color: #E4479C;
    font-weight: 700;
    
}

.forgot:hover {
    color: #E4479C;
    font-weight: 700;
    
}

.login:hover {
    color: #E4479C;
    font-weight: 700;
    
}


.reset {
    font-size: 16px;
    color: #E4479C;
}

.btn_login {
    background-color: #E4479C;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 700;
    height: 62px;
    color: white;
}
.btn_sendlink{
    background-color: #E4479C;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 700;
    height: 56px;
    color: white;
}

.btn_sendlink:hover{
    background-color: #E4479C;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 700;
    height: 56px;
    color: white;
}

.btn_login:hover {
    background-color: white;
    border-color: #E4479C;
    color: #E4479C;
}

.btn_google {
    background-color: white;
    border-radius: 40px;
    font-size: 20px;
    border-color: #E4479C;
    color: #E4479C;
    height: 62px;
    font-weight: 700;
}

.btn_google:active {
    background-color: #E4479C;
    border-color: #E4479C;
    color: white;
    box-shadow: none;
}

.btn_google:visited {
    background-color: white;
    border-color: #E4479C;
    color: #E4479C;
    box-shadow: none;
}

.btn_google:hover {
    background-color: #E4479C;
    border-color: #E4479C;
    color: white;
}

.logo_google {
    color: #E4479C;
}

.account {
    font-size: 20px;
}
.register {
    font-size: 16px;
    color: #E4479C;
    font-weight: 700;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .alert{
      position: absolute;
      z-index: 999999;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      padding: 8px 35px 8px 14px;
      margin-bottom: 20px;
  }

  .nav-alert{
    margin-left: -150px;
    position: relative;
    top:0;
  }

  #container > div{
      height:299px;
  }