/* navbar */

section#navbar {
  position: fixed;
  background-color: white;
  top: 0;
  z-index: 500;
  width: 100% !important;
}

#wrapper-navbar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: fit-content;
  background-color: white;
}

.block-logo {
  width: 100%;
  flex: 0 0 50px;
}

.block-menu {
  width: 100%;
  height: fit-content;
  flex: 0 0 50px;
}

.nav-link {
  color: #0b254b !important;
  margin-right: 30px;
  font-weight: bolder;
  display: inline-block;
  position: relative;
}

.navbar-brand {
  color: #e4479c !important;
  margin-right: 30px;
  font-size: 2rem;
  font-weight: bolder;
}

.nav-item .nav-link:after {
  content: '';
  position: absolute;
  background-color: #e4479c;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  margin-bottom: 5px;
  transition: 0.3s;
}
.nav-item .nav-link:hover {
  color: #e4479c;
}
.nav-item .nav-link:hover::after {
  width: 100%;
}

/*-----------------
    Button Nav
    -------------------*/
.btn-nav {
  font-size: 0.8rem;
  font-weight: 700;
  position: relative;
  padding: 0.5rem 1.5rem;
  border: 0.1rem solid transparent;
  transition: all 0.2s ease-in-out;
  letter-spacing: 0.5px;
  margin-right: 5px;
  text-decoration: none;
}

.btn-circle {
  display: inline-flex;
  width: 4.20313rem !important;
  height: 4.20313rem !important;
  padding: 0 !important;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.btn-white {
  background: #ffffff;
  color: #e4479c;
  border: 1px solid #e4479c;
}

.btn-pink {
  background: #e4479c;
  color: #ffffff;
}

.btn-circled {
  border-radius: 75px;
}

.btn-link {
  color: #e4479c;
  text-decoration: none;
  border-bottom-color: #e4479c;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  font-weight: bolder;
}
@media (max-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .btn-link {
    font-size: 10px;
  }
}

/* navbar after */

#cart {
  margin-right: 10px;
}

.btn-profile {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  font-weight: bolder;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.btn-profile:focus {
  box-shadow: none !important;
}
