.card-akun {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
  border-radius: 20px;
  border: 1px solid #fa4eab;
}

.card-order-list {
    border-color: #E4479C !important;
    border-radius: 1.25rem;
}

.tab-pesanan .nav-link.active {
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
    border-bottom: 0.1875rem solid #E4479C;
    font-weight: 600;
}

.nav-tabs.tab-pesanan{
    border-bottom: 0px solid #dee2e6;
}

.tab-pesanan .nav-link:hover {
    border: 0 !important;
    color: #E4479C !important;
}

.tab-pesanan .nav-link {
    transition: none !important;
}


.card-product-list {
    background: #FFEBF1;
    border-radius: 0.75rem;
}

.total-price > h5 {
    color: #E4479C;
}

p.time-confirm {
    font-size: smaller;
}

.button-card-nilai {
    font-weight: 600;
    color: #E4479C;
    border: 2px solid #E4479C;
}

.button-card-nilai:hover {
    color: white;
    background-color: #E4479C;
    border-color: #E4479C;
}

.button-to-vendor {
    font-weight: 600;
    color: white;
    background-color: #E4479C;
    border-color: #E4479C;
}

.button-to-vendor:hover {
    color: #E4479C;
    border: 1px solid #E4479C;
    background-color: white;
}

.canceled > .button-to-vendor {
    width: 16.9rem;
    height: 2.5rem;
}
