.profiles .info-box {
  color: #444444;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
  border-radius: 20px;
  border: 1px solid #fa4eab;
}
.profiles .info-box i {
  font-size: 32px;
  color: #ff4a17;
  border-radius: 50%;
  padding: 8px;
}

.profiles .info-box2 {
  margin-top: 60px;
  width: 250px;
  color: #444444;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
  border-radius: 20px;
  border: 1px solid #fa4eab;
}

.profiles .info-box h3 {
  font-size: 20px;
  color: #000000;
  font-weight: 700;
  margin: 10px 0;
}
.profiles .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  color: #000000;
}

.profiles .info-box .title-profile {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  color: #8d8d8d;
}
.profiles-title {
  font-weight: bolder;
  padding-bottom: 20px;
  border-bottom: 1px solid #fa4eab;
}

.d-flex-profiles p {
  width: 300px;
}

.d-flex-profiles {
  display: flex;
  margin-bottom: 20px;
}

.d-flex-profile {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid #444444;
}

.btn-profile {
  font-size: 0.8rem;
  font-weight: 700;
  position: relative;
  padding: 0.5rem 1.5rem;
  border: 0.1rem solid transparent;
  transition: all 0.2s ease-in-out;
  letter-spacing: 0.5px;
  margin-right: 5px;
  text-decoration: none;
  margin-left: 300px;
  margin-bottom: 100px;
}

.btn-circle {
  display: inline-flex;
  width: 4.20313rem !important;
  height: 4.20313rem !important;
  padding: 0 !important;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.btn-pink {
  background: #e4479c;
  color: #ffffff;
}

.btn-circled {
  border-radius: 75px;
}

.btn-link {
  color: #e4479c;
  text-decoration: none;
  border-bottom-color: #e4479c;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  font-weight: bolder;
}

.rounded-circle {
  margin-right: 20px;
  margin-bottom: 10px;
}

.icon-pr {
  margin-right: 10px;
}

.menu-pr {
  text-decoration: none;
  color: #000000;
}
.menu-pr > a:hover {
  text-decoration: none;
  color: #e4479c;
}

a.edit-profile {
  color: #8ec9ff;
}

.edit-profile {
  margin-left: 5px;
}

.form-control-prof {
  display: block;
  padding: 0.5rem 0.1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  width: 400px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button.js-click,
button.js-click2 {
  margin-left: 10px;
  border: none;
  background-color: white;
  border-bottom: 1px solid #8ec9ff;
  color: #8ec9ff;
}
