
#deck-container {
    border-radius: 40px;
    background-color: white;
    max-width:637px;
    max-height: 862px;
}

.title_login {
    margin-top: 96px;
    font-family: 'Poppins', sans-serif;
    color: #000;
}

.form_input_tag {
    background-color: white;
    border-radius: 40px;
    font-size: 20px;
    width: 526px;
    height: 62px; 
    padding: 16px 24px;
}

.form_input_tag:focus {
    border-radius: 40px;
    font-size: 20px;
    border-color: #E4479C;
    box-shadow: none;
}


.reset {
    font-size: 16px;
}

.forgot {
    text-decoration-color: #E4479C;
    
}

.btn_login {
    background-color: #E4479C;
    border-radius: 40px;
    font-size: 20px;
}

.btn_google {
    background-color: white;
    border-radius: 40px;
    font-size: 20px;
    border-color: #E4479C;
}

.btn_google:focus {
    color: #000;
}



.account {
    font-size: 20px;
}
.register {
    font-size: 16px;
}

.login:hover {
    color: #E4479C;
    font-weight: 700;
    
}