/* imported css */
@import url('/css/homepage.css');
@import url('/css/footer.css');
@import url('/css/orderlist.css');

/* imported font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* imported icons */
@import url('https://use.fontawesome.com/releases/v5.11.2/css/all.css');

/*Login Page*/
@import url('/css/login.css');

/*Register Page*/
@import url('/css/register.css');

/*Navbar Page*/
@import url('/css/navbar.css');

/*Detail Vendor - About*/
@import url('/css/detailvendor-about.css');
/* detailvendor/product page */
@import url('/css/detailvendorproduct.css');
/* detail vendor - review */
@import url('/css/review.css');

/* detail product page */
@import url('/css/detailproduct.css');
@import url('../css/detailvendor.css');
@import url('/css/discount.css');

/*Detail Profile*/
@import url('/css/profile.css');
@import url('/css/cardList.css');
/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin-top: 170px !important;
}
