<section>
  <div class="container p-5">
    <div class="row">
      <div class="col-12 d-flex flex-column p-4 mb-3">
        <h1 class="fw-bold pb-3">Your Shopping Cart</h1>
        <p>Congratulations, you've found your favorite product on the cart!<br>
          Next, you can make an order and select the product you want.
        </p>
      </div>

      <!-- Cart Header -->
      <div class="col-12">
        <div class="mb-2">
          <ul class="nav nav-fill d-flex justify-content-between fw-bold">
            <li class="nav-item">
              <a class="nav-link flex-grow-1 me-5 pe-5" style="color: #0B254B">Product</a>
            </li>
            <li class="nav-item ms-5 ps-5">
              <a class="nav-link ms-5 ps-5 me-5 pe-4" style="color: #0B254B">Price</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ps-0 pe-5" style="color: #0B254B">Action</a>
            </li>
        </div>
      </div>

      <hr class="mx-auto" style="border: 2px solid #E4479C; width: 75rem">

      <!-- Products Cart -->
      <div id="cartProduct">

      </div>


      <!-- Delete Product Modal-->
      <div class="modal fade" id="deleteProductModal" tabindex="-1" aria-labelledby="deleteProductModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content p-3">
            <div class="d-flex justify-content-end">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
              <img src="/images/modal-cart-img.png" class="mb-3" width="220" height="110">
              <h4>Delete a product?</h4>
              <p>Do you really want to delete?</p>
            </div>
            <div class="d-flex justify-content-center mb-2">
              <button class="btn btn-secondary rounded-pill me-3" data-bs-dismiss="modal">Cancel</button>
              <button class="btn-123 btn btn-danger rounded-pill me-2" data-bs-toggle="modal"
                data-bs-target="#successDeleteModal" id="deleteProductCart">Delete</button>
            </div>
          </div>
        </div>
      </div>


      <!-- Success Delete Modal -->
      <div class="modal fade" id="successDeleteModal" tabindex="-1" aria-labelledby="successDeleteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content p-3">
            <div class="d-flex justify-content-end">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
              <img src="/images/modal-cart-img2.png" class="mb-2" width="220" height="110">
              <h4>Success!</h4>
              <p>Paket berhasil dihapus.</p>
            </div>
            <div class="d-flex justify-content-center mb-2">
              <button class="btn btn-success btn-md rounded-pill ps-5 pe-5" data-bs-dismiss="modal">Okay</button>
            </div>
          </div>
        </div>
      </div>


      <!-- Checkout -->
      <div class="col-12 pt-3">
        <div class="card border-0 mt-4" style="background-color: #FFEBF1; border-radius: 0.75rem">
          <div class="card-body d-flex align-items-center justify-content-end p-0 pe-5">
            <p class="m-5 me-0">Total Price: </p>
            <h5 class="text-danger fw-bold pe-3 m-5 ms-4" id="priceTotal">Rp 0</h5>
            <button class="btn rounded-pill float-end text-white fw-bold m-5 ps-5 pe-5" id="checkout-button"
              style="background-color: #E4479C">Checkout</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<script type="text/javascript">
  const checkoutButton = document.getElementById('checkout-button');
  const deleteButton = document.getElementById('deleteProductCart');
  /**
   * Flow to Checkout
   * =================
   * 1. [User] Select item and add to cart
   * 2. [User] Go to cart page
   * 3. [User] Fill in the booking date(*)
   * 4. [User] Click checkout button
   * 5.1. [FE] Request update checkout item to server (POST '/api/v1/checkouts/create')
   * 4.1. [Server] Redirect to Checkout page
   * 5. [User] click pay button
   * 5.1. [FE] Get token from server (POST '/api/v1/orders/checkout')
   * 6. [User] Select payment and pay
   */
  let cartStorage = window.localStorage, tempProductId;
  const checkout_items = JSON.parse(cartStorage.getItem('carts'));

  const fetchInst = async (method, endpoint, body) => {
    try {
      const data = await fetch('/api/v1' + endpoint, {
        method: method,
        headers: {
          'Content-Type': 'application/json',
          'Accept': 'application/json',
        },
        body: JSON.stringify(body),
      });
      return data.json();
    } catch (error) {
      throw error;
    }
  }

  // Create checkout
  const checkout = async () => {
    return await fetchInst('POST', '/checkouts/create', { checkout_items });
  }

  function removeItem(el) {
    tempProductId = el.getAttribute("product-id");
  }

  addEventListener('load', ()=> {

    // TODO: Render to DOM
    function a(index,arr){
      var a = arr.splice(index,1);
      console.log(arr);
      cartStorage.setItem('carts',JSON.stringify(arr));
    }
    var dataValue ;
    const cartProduct = async () => {
      const { data } = await fetchInst('POST', '/product/cart', { checkout_items });
      let html = ``;
      let productEl;

      let dataPrice = 0;
      // Vendor
      data.forEach((element, vendorIndex) => {

        var dataProduct = ``;
        productEl = element.Products;
        // Product
        element.Products.forEach((el, productIndex) => {
          console.log(el)
          dataProduct += `<div class="row d-flex align-items-center">
                  <div class="col-5 d-flex align-items-center">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="checkbox-product" value="" aria-label="" />
                    </div>

                    <img src="${el.images[0]}" class="rounded-3 ms-2 me-3" width="100" height="100">

                    <ul class="list-unstyled m-0">
                      <li>${el.name}</li>
                      <li class="pt-2"><span>Date: </span>${new Date(el.book_date).toLocaleDateString('id-ID', {year: 'numeric', month: 'long', day: 'numeric'})}</li>
                    </ul>
                  </div>

                  <div class="col-5 text-center">
                    <h5 class="fw-lighter">Rp ${el.price}</h5>
                  </div>

                  <div class="action col-1 ps-5">
                    <button
                    onClick="removeItem(this)"
                    product-id="${el.id}"
                    class="btn btn-danger rounded-pill float-end fw-bold"
                    data-bs-toggle="modal" data-bs-target="#deleteProductModal"> Delete
                    </button>
                  </div>
                  <hr class="mt-4" style="border: 1px solid #E4479C">
                </div>`;
          dataPrice += el.price
          console.log(el)
        });
        html += `<div class="col-12 mt-4 pt-1">
          <div class="card border-0 p-4 pt-0 pb-0" style="background-color: #FFEBF1; border-radius: 0.75rem">
            <div class="card-body p-4 pb-0">
              <div class="row">
                <div class="col-12 d-flex align-items-center">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="checkbox-vendor">
                        <label class="form-check-label" for=""></label>
                      </div>
                    </li>
                    <li class="list-inline-item"><b>${element.name}</b></li>
                    <li class="list-inline-item"><span class="material-icons" style="color: #00acee">verified</span></li>
                  </ul>
                </div>


                <hr style="border: 1px solid #E4479C">
                <div id="productList">
                  ${dataProduct}
                </div>
              </div>
            </div>
          </div>
        </div>`;

      });

      let buttonList = document.getElementsByClassName("btn-123");
      document.getElementById('cartProduct').innerHTML = html;
      document.getElementById('priceTotal').innerText = `Rp ${dataPrice}`;

      deleteButton.addEventListener('click', (e) => {
        e.preventDefault();
        const getItem = JSON.parse(cartStorage.getItem('carts'));
        const newArr = getItem.filter(prop => prop.id !== tempProductId);
        cartStorage.setItem('carts', JSON.stringify(newArr));
        window.location.reload();
      });
    }
    cartProduct();


    // for (let item of buttonList) {
    //   // buttonList[i].addEventListener("click", (e) => {
    //   //   e.preventDefault();
    //   // });
    //   console.log(item);
    //   // console.log(item.id);
    // }
  })

  checkoutButton.addEventListener('click', async (e) => {
    e.preventDefault();
    try {
      const { data } = await checkout();
      if (data.status === 'success') {
        return window.location.href = '/checkout';
      }
      throw new Error(data.message);
    } catch (error) {
      // TODO: show error
      console.log(error);
    }
  });
</script>
