<section>
  <div class="container p-5">
    <div class="row" style="--bs-gutter-x: 0;">
      <div class="col-12 d-flex flex-column p-4 mb-3">
        <h1 class="fw-bold pb-3">Invoice</h1>
        <p>Congratulations, you've found your favorite product on the cart! <br>
          Next, you can make an order and select the product you want.
        </p>
      </div>


    <div style="border: 2px solid #E4479C; border-radius: 1.5rem">
      <!-- Cart Header -->
      <div class="col-12 pe-5 py-3" style="background-color: #FFEBF1; border-top-left-radius: 1.5rem; border-top-right-radius: 1.5rem; border-bottom: 2px solid #E4479C">
        <div class="mb-2">
          <ul class="nav nav-fill d-flex justify-content-between fw-bold">
            <li class="nav-item text-start">
              <a class="nav-link flex-grow-1 me-2 pe-2 ms-5" style="color: #0B254B">Product</a>
            </li>
            <li class="nav-item text-end">
              <a class="nav-link ms-0 ps-0 pe-5 me-5" style="color: #0B254B">Jumlah</a>
            </li>
        </div>
      </div>

      <!-- Products Cart -->
      <div id="vendorCheckout">

      </div>
            <!-- Checkout -->
      <div class="col-12">
        <div>
          <div class="card-body d-flex align-items-center justify-content-end">
            <p class="m-2 me-4">Total Price:</p>
            <h5 class="text-danger fw-bold pe-3 m-2 me-4" id="totalPrice">Rp 0</h5>
          </div>
          <div class="card-body d-flex align-items-center justify-content-end p-0 pe-0 pt-0 mt-0 mb-5">
            <button class="btn rounded-pill float-end text-white fw-bold m-1 ps-5 pe-5 mb-3 me-5" id="pay-button"
              style="background-color: #E4479C">Lanjutkan Pembayaran
            </button>
          </div>
        </div>
      </div>
    </div>
</section>

<!-- <script src="/socket.io/socket.io.js"></script> -->
<script type="text/javascript">
  const payButton = document.getElementById('pay-button');

  // let socket = io();
  // let el;

  // socket.on('time', (timeString) => {
  //   el = document.getElementById('server-time');
  //   el.innerHTML = 'Server time: ' + timeString;
  // });

 addEventListener('load', async ()=>{
    let data = await fetch('/api/v1/checkouts/items').then(response => response.json());

    var htmlData = ``;

    var countTotalPrice = 0;

    data.data.forEach((dataVendor,index)=>{
      var productHtml = ``;
      dataVendor.Products.forEach((dataProduct,index)=>{
        productHtml += `<div class="col-5 d-flex align-items-center">
                <img src="${dataProduct.images[0]}" class="rounded-3 ms-2 me-3" width="100" height="100">
                <ul class="list-unstyled m-0">
                  <li>${dataProduct.name}</li>
                  <li class="pb-4 fs-6">${dataVendor.categories[0]}</li>
                  <li class="pt-2"><span>Date: </span>${new Date(dataProduct.OrderProducts[0].book_date).toLocaleDateString('id-ID', { year: 'numeric', month: 'long', day: 'numeric' })}</li>
                </ul>
              </div>

              <div class="col-7 text-end pe-4">
                <h5 class="fw-lighter">Rp ${dataProduct.price}</h5>
              </div>
              <hr class="mt-4" style="border: 1px solid #ffffff">`;
              countTotalPrice += dataProduct.price;
      })

      htmlData += `<div class="col-12 mt-4 pt-1">
        <div class="card border-0 p-4 pt-0 pb-0">
          <div class="card-body p-4 pb-0">
            <div class="row d-flex align-items-center">
              <div class="col-12 d-flex align-items-center">
                <ul class="list-inline">
                  <li class="list-inline-item">
                  <li class="list-inline-item"><b>${dataVendor.name}</b></li>
                  <li class="list-inline-item"><span class="material-icons" style="color: #00acee">verified</span></li>
                </ul>
              </div>

              <hr style="border: 1px solid #E4479C">
              <div id="productList">
                ${productHtml}
              </div>

            </div>
          </div>
        </div>
      </div>`;


    });
    document.getElementById('vendorCheckout').innerHTML = htmlData;
      document.getElementById('totalPrice').innerText = countTotalPrice;

  });


  const getToken = async () => {
    try {
      const snapToken = await fetch('/api/v1/orders/checkout', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'Accept': 'application/json',
        },
      })
      return snapToken.json();
    } catch (error) {
      throw error;
    }
  }
  payButton.addEventListener('click', async (e) => {
    e.preventDefault();
    try {
      const { token } = await getToken();
      snap.show();
      snap.pay(token)
    } catch (error) {
      // TODO: show error
      console.log(error);
      snap.hide();
    }
  });
</script>
<script type="text/javascript" src="https://app.sandbox.midtrans.com/snap/snap.js"
  data-client-key="SB-Mid-client-eOC_Ee_pFi4vTwfb"></script>
