<div class="container">
    <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item mt-3" aria-current="page">Home</li>
        <li class="breadcrumb-item active mt-3" aria-current="page">Discount</li>
      </ol>
    </nav>
    <h1>Discount</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,<br />purus sit amet luctus venenatis, lectus magna
      fringilla urna, porttitor
    </p>
      <div class="row justify-content-center" id="box-cont">
        <!-- <div class="discount-card col-4" style="width: 400px; height: 300px">
        <a href="http://google.com" class="swiper-slide">
          <div class="img">
            <div class="img-wrapper">
              <img src="/images/discount-img.jpg" alt="" />
            </div>
          </div>
          <div class="desc">
            <div class="avatar"></div>
            <div class="info">
              <h4>Product Name</h4>
              <p>by Vendor Name</p>
            </div>
          </div>
          <div class="discount">
            <div class="discount-text">40% off</div>
            <div class="triangle"></div>
          </div>
        </a>
      </div> -->
      </div>
    </div>

    <script type="text/javascript">
      const fetchDiskon = async () => {
        try {
          const response = await fetch('api/v1/product/all/discount');
          const json = await response.json();
          // console.log(json);

          const diskon = json.data.rows;
          let arrayd = ``;
          diskon.forEach((element) => (arrayd += showDiskon(element)));
          const diskonarray = (document.getElementById('box-cont').innerHTML = arrayd);
        } catch (error) {
          console.log(error);
        }
      };

      fetchDiskon();

      function showDiskon(element) {
        return `
      <div class="discount-card col-4">
        <a href="/products/${element.id}" class="discount-swiper-slide">
          <div class="img">
            <div class="discount-img-wrapper">
              <img src="${element.images}</" alt="" />
            </div>
          </div>
          <div class="discount-desc">
            <div class="avatar"></div>
            <div class="info">
              <h4>${element.name}</h4>
              <p>by ${element.Vendor.name}</p>
            </div>
          </div>
          <div class="discount-discount">
            <div class="discount-text">${element.discount}% Offs</div>
            <div class="discount-triangle"></div>
          </div>
          <div class="discount-price">
                  <p class="discount-price-normal">Rp. ${element.price.toLocaleString('id-ID')}</p>
                  <p class="discount-price-discount">Rp. ${((element.price * element.discount) / 100).toLocaleString('id-ID')}</p>
          </div>
        </a>
      </div>`;
      }
    </script>
  </div>

