<section class="jumbotron text-center">


    <div class="header">
      <h1>Trust a Promise with Promised</h1>
      <p>Help you realize beautiful Wedding Promises with various vendor recommendations!</p>
      <a href="/products">See More!</a>
      <div class="custom-shape-divider-bottom-1646130321">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path
            d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
            class="shape-fill"
          ></path>
        </svg>
      </div>
    </div>

    <div class="highlight">
      <div class="highlight-title">
        <h2>Highlights Feature</h2>
        <p>Get the best experience with an interesting feature</p>
      </div>
      <div class="highlight-feature">
        <div class="highlight-feature-1">
          <img src="/images/feature1.svg" alt="" />
          <h4>Find Vendor Easily</h4>
          <p>Don't be confused, search vendor as fast as you can!</p>
        </div>
        <div class="highlight-feature-2">
          <img src="/images/feature2.svg" alt="" />
          <h4>Verified Vendor</h4>
          <p>Only good quality, professional and reliable vendors are on promised</p>
        </div>
        <div class="highlight-feature-3">
          <img src="/images/feature3.svg" alt="" />
          <h4>Package</h4>
          <p>Various packages to your needs. More packages, more choices</p>
        </div>
      </div>
    </div>

    <div class="promo">
      <div class="promo-title">
        <h2>Special Discount</h2>
        <p>Special offer for lovely couple who prepared beautiful moment!</p>
      </div>

      <div class="swiper-container home-swiper-container">
        <div class="swiper home-swiper">
          <div class="swiper-wrapper domhere">
            <%# for (let i = 0; i < 6; i++) {%>
            <!-- <a href="http://google.com" class="swiper-slide home-swiper-slide">
              <div class="img">
                <div class="home-img-wrapper">
                  <img src="/images/discount-img.jpg" alt="" />
                </div>
              </div>
              <div class="home-desc">
                <div class="avatar"></div>
                <div class="info">
                  <h4>Product Name</h4>
                  <p>by Vendor Name</p>
                </div>
              </div>
              <div class="discount">
                <div class="home-discount-text">40% off</div>
                <div class="home-triangle"></div>
              </div>
              <div class="home-price">
                <p class="home-price-normal">Rp. 1.000.000</p>
                <p class="home-price-discount">Rp. 5.000.000</p>
              </div>
            </a> -->
            <%# } %>
            <!-- <div class="swiper-slide">Slide 2</div>
            <div class="swiper-slide">Slide 3</div>
            <div class="swiper-slide">Slide 4</div>
            <div class="swiper-slide">Slide 5</div>
            <div class="swiper-slide">Slide 6</div> -->
          </div>

          <!-- add navigation -->
          <div class="swiper-button-next home-swiper-button-next"><img src="/images/arrow-right.svg" alt="" /></div>
          <div class="swiper-button-prev home-swiper-button-next"><img src="/images/arrow-left.svg" alt="" /></div>
        </div>
        <!-- add pagination -->
        <div class="swiper-pagination home-swiper-pagination"></div>
      </div>
    </div>

    <div class="vendor">
      <div class="vendor-image">
        <img src="/images/vendor-image.jpg" alt="" />
      </div>
      <div class="vendor-desc">
        <h2>Meet Our Vendor</h2>
        <p>Good vendor with great services ready to make your wedding more special and memorable</p>
        <!-- <div class="vendor-desc-icons">
          <div class="vendor-desc-icon"><img src="/images/catering.svg" alt="">Catering</div>
          <div class="vendor-desc-icon"><img src="/images/catering.svg" alt="">Invitation Design</div>
          <div class="vendor-desc-icon"><img src="/images/catering.svg" alt="">Decors</div>
          <div class="vendor-desc-icon"><img src="/images/catering.svg" alt="">Make up</div>
          <div class="vendor-desc-icon"><img src="/images/catering.svg" alt="">Dressess</div>
          <div class="vendor-desc-icon"><img src="/images/catering.svg" alt="">Entertaiment</div>
          <div class="vendor-desc-icon"><img src="/images/catering.svg" alt="">Photography & Videography</div>
        </div> -->
        <a href="/vendors">All Vendor</a>
      </div>
    </div>

    <hr class="line" />
    <div class="package">
      <div class="package-desc">
        <h2>Our Package</h2>
        <p>
          Solutions for you who have limited time and less experience in preparing weddings by providing various wedding
          packages with many prices according to the capacity of your needs.
        </p>
        <a href="/packages">All Package</a>
      </div>
      <div class="package-image">
        <img src="/images/vendor-image.jpg" alt="" />
      </div>
    </div>

</section>

<script>
  addEventListener("load", () => {
    document.getElementById("add-cart").addEventListener('click', () => {
      let cartStorage = window.localStorage;
      let cart = cartStorage.getItem("carts");
      let arr = [
        {
          id: "2f2c67d5-7ef4-4168-b4b1-4ad78277729d",
          book_date: new Date("05 January 2021").toISOString(),
          quantity: 1
        },
        {
          id: "dfddaf7f-5dcd-44f5-86db-a2ad77530090",
          book_date: new Date("14 February 2021").toISOString(),
          quantity: 1
        },
        {
          id: "a72f430f-ec2b-4a07-ae87-1b8bdd36d53c",
          book_date: new Date("10 December 2021").toISOString(),
          quantity: 1
        }
      ];
      // If cart exist, then update item
      if (cart) {
        arr = [...JSON.parse(cart), ...arr];
      }

      cartStorage.setItem('carts', JSON.stringify(arr));
    });
  });


  const fetchProduct = async () => {
    try {
      const response = await fetch(`/api/v1/product/all/discount`);
      const json = await response.json();
      const data = json.data.rows;
      // console.log(data);
      renderDiscout(data);
      loadSwiperHome();
      return;
    } catch (error) {
      console.log(error);
    }
  };

  fetchProduct();

  const renderDiscout = (data) => {
    // console.log(data);
    const html = data
      .map((data) => {
        return `<a href="/discount" class="swiper-slide home-swiper-slide">
              <div class="img">
                <div class="home-img-wrapper">
                  <img src="${data.images[0]}" alt="" />
                </div>
              </div>
              <div class="home-desc">
                <div class="avatar"><img class="" src="${data.Vendor.Account.avatar}" alt=""></div>
                <div class="info">
                  <h4>${data.name}</h4>
                  <p>by ${data.Vendor.name}</p>
                </div>
              </div>
              <div class="discount">
                <div class="home-discount-text">${data.discount}% off</div>
                <div class="home-triangle"></div>
              </div>
              <div class="home-price">
                <p class="home-price-normal">Rp. ${data.price.toLocaleString("id-ID")}</p>
                <p class="home-price-discount">Rp. ${(data.price - (data.price *  data.discount / 100)).toLocaleString("id-ID")}</p>
              </div>
            </a>`;
      })
      .join('');
    // document.getElementsByClassName('domhere')[0].insertAdjacentHTML('afterbegin', html)
    document.getElementsByClassName('domhere')[0].innerHTML = html;

    // console.log(document.getElementsByClassName('domhere'))
    // return data;

  };
</script>
