<div class="nav-alert">
  <div class="alert alert-warning alert-dismissible fade" id="alert-empty" role="alert">
    <div class="text-center">
      <h3> Please fill your email for reset your password </h3>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
  <div class="alert alert-danger alert-dismissible fade hide" id="alert-nothing-email" role="alert">
    <div class="text-center">
      <h3>Oops, We couldn't find your email </h3>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
  <div class="alert alert-danger alert-dismissible fade hide" id="alert-error-login" role="alert">
    <div class="text-center">
      <h3>Check your email / password for access account </h3>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
  <div class="alert alert-warning alert-dismissible fade" id="alert-warning-login" role="alert">
    <div class="text-center">
      <h3> Please fill your email and password for access your account </h3>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
</div>
<nav class="navbar_logo">
  <div class="justify-content-start">
    <a href="/">
      <img class="icon_logo" src="/images/Logo_Horizontal.png" alt="Logo">
    </a>
  </div>
</nav>
<section>
  <div class="login">
    <div class="wrapper-login">
      <div class="container border border-2 mt-5" id="deck-container">
        <div class="d-flex justify-content-center">
          <!-- ?redirect=true is needed when accessed from view -->
          <div>
            <div class="title_login mb-3 text-center">
              <h1> <img src="/images/Emoji.png" alt=""> Welcome Back!</h1>
           </div>
           <!-- Form Email Password -->
           <div class="col-md-12 mb-3 mt-5 center-block">
             <input type="email" name="email" id="email-login" class="form-control form_input_tag" placeholder="Email" >
           </div>
           <div class="input_password col-md-12 mb-3 toggle">
             <input type="password" name="password"  class="form-control toggle__input form_input_tag" placeholder="Password" id="password-3">
             <!-- <button type="button" class="toggle__button" id="toggle">
               <i class="toggle_password material-icons" id="icon_eye">visibility</i>
               <i class="toggle_password material-icons" id="icon_eye">visibility_off</i>
             </button> -->
             <i id="visibilityBtn"><span id="icon" class="material-icons">visibility</span></i>
           </div>
           <div class="reset mb-4 ms-3 mt-3">
             <a id="forgotPassword" data-bs-toggle="modal" href="#exampleModalToggle"   class="forgot">Forgot Password?</a>
           </div>
           <!-- Button Login -->
           <button type="submit" id="login" class="col-md-12 btn btn_login">Log In</button>
           <div class="text-center mb-4 mt-4">
             <h3  style="color: black;">OR</h3>
           </div>
           <!-- Button Google -->
           <div class="row mb-5">
             <div id="g_id_onload_login" data-client_id="345966895931-gkh5og2n6ft8l8se9b764dtlj4ohs59n.apps.googleusercontent.com" data-login_uri="/api/v1/auth/provider" data-auto_prompt="false">
               <a class="btn_google d-flex align-items-center justify-content-center col-md-12 btn " href="#"><img class="me-1" src="https://img.icons8.com/color/16/000000/google-logo.png">Log In with Google</a>
             </div>

           </div>
           <div class="mb-5 mt-4 text-center">
            <h5 class="account"  style="color: black;">Doesn't have an account? <a href="/register" class="register login">Register</a></h5>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>

<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body mb5 text-center" >
          <div class="row">
            <div class="col-sm-11">
            </div>
            <div class="col-sm-1 justify-content-right">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <h3>Forgot your password</h3>
              <div class="mb-4 " style="text-align:center">
                <label for="emailForgotPassword" class="form-label">Keep calm. Fill your email below.</label>
                <input style="width:67.5%" type="text" name="email" id="emailForgotPassword" size="50" placeholder="Your email address" class="col-md-6 form-control  center-block mb-4">
                <button type="submit" id="sendLinkEmail" class="mt-2 center-block col-md-8  btn btn_sendlink"   >Send link</button>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body mb3 text-center">
        <div class="row">
          <div class="col-sm-11">
          </div>
          <div class="col-sm-1 justify-content-right">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <h3>Check email</h3>
            <div class=" mb-3 align-items-center justify-content-center mx-auto col-md-12 form-group" style="text-align:center">
              <h5 for="emailForgotPassword" class="form-label">Please check your email</h5>
              <h6 for="emailForgotPassword" id="emailVerified" class="form-label">xxxx@email.com</h6>
            </div>
            <button type="submit" class="col-md-8 btn btn_sendlink center-block mb-4" data-bs-dismiss="modal">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>



<script>
  const showModalForgot = document.getElementById('exampleModalToggle');
  const showModalSuccess = document.getElementById('exampleModalToggle2');
  const emailVerified = document.getElementById('emailVerified');
  const visibilityBtn = document.getElementById("visibilityBtn");

  visibilityBtn.addEventListener("click", toggleVisibility)

  function toggleVisibility () {
    const passwordInput = document.getElementById("password-3");
    console.log(passwordInput.type);
    const icon = document.getElementById("icon")
    if (passwordInput.type === "password") {
        passwordInput.type = "text"
        icon.innerText = "visibility_off"
    } else {
        passwordInput.type = "password"
        icon.innerText = "visibility"
    }
}
  function toggleAlert(){
    $("#alert-empty").toggleClass('in out');
    return false; // Keep close.bs.alert event from removing from DOM
  }

  // Login Account
  document.getElementById("login").addEventListener("click",async function(){
    var emailLogin = document.getElementById("email-login").value;
    var passwordLogin = document.getElementById("password-3").value;
    if(emailLogin == "" || passwordLogin == "" || emailLogin == null || passwordLogin == null){
      $('#alert-warning-login').addClass('show');
    }else{
      let formDataLogin = {
        email: emailLogin,
        password: passwordLogin
      };

      let config = {
        method: 'POST',
        body: JSON.stringify(formDataLogin),
        headers: {
          "Content-type":"application/json"
        }
      };

      let getResponseLogin = fetch('/api/v1/auth/login',config)
      .then(response => response.json()).then(data =>{
        if(data.code == 401){
          $('#alert-error-login').addClass('show');
        }else{
          window.location.href = "/"
        }

      }).catch(err =>{
        $('#alert-error-login').addClass('show');
      });
    }
  });

  // Reset Password
  document.getElementById('sendLinkEmail').addEventListener('click',async function(){
    var emailForgotPassword = document.getElementById('emailForgotPassword').value;

    if(emailForgotPassword == "" || emailForgotPassword == null){
      $('#alert-empty').addClass('show');
    }else{
      let formData = {
        email:emailForgotPassword
      };
      let config = {
        method: 'POST',
        body: JSON.stringify(formData),
        headers: {
          "Content-type":"application/json"
        }
      };
      let getResponse = await fetch('/api/v1/auth/reset',config).then(response => response.json())
      .then(data =>{
        console.log(data.code);
        if(data.code == 400 ){
          $('#exampleModalToggle').modal('hide');
          $('#alert-empty').removeClass('show');
          $('#alert-empty').addClass('hide');
          $('#alert-nothing-email').addClass('show');
        }else{
          $('#exampleModalToggle').modal('hide');
          $('#exampleModalToggle2').modal('show');
          emailVerified.innerText = emailForgotPassword;
        }
      }).catch(err =>{
        $('#exampleModalToggle').modal('hide');
      });
    }
  });

  //Login with Google

  var googleUser = {};
  var startApp =  function() {
    gapi.load('auth2', function(){
      // Retrieve the singleton for the GoogleAuth library and set up the client.
      auth2 = gapi.auth2.init({
        client_id: '345966895931-gkh5og2n6ft8l8se9b764dtlj4ohs59n.apps.googleusercontent.com',
        cookiepolicy: 'single_host_origin',
        // Request scopes in addition to 'profile' and 'email'
        //scope: 'additional_scope'
      });
      console.log(auth2);
       attachSignin(document.getElementById('g_id_onload_login'));
    });
  };

   function  attachSignin(element) {
    console.log(element.id);
    auth2.attachClickHandler(element, {},
        function(googleUser) {
          console.log(googleUser);
          let credentialForm = {
            credential:googleUser.wc.id_token
          }

          let configGoogleSignin = {
            method: 'POST',
            body:JSON.stringify(credentialForm),
            headers: {
              "Content-type":"application/json"
            }
          }

          let googleResponse =  fetch("/api/v1/auth/provider",configGoogleSignin).then(response => response.json())
          .then(data =>{
            if(data.code === 400) {
              gapi.auth2.getAuthInstance().disconnect();
              $('#alert-error-login h3').text(data.message);
              return $('#alert-error-login').addClass('show');
            }
            window.location.href = "/";
          })
          .catch(error =>{
             gapi.auth2.getAuthInstance().disconnect();
          })
        });
  }

  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
  var revokeAllScopes =  function() {
     gapi.auth2.getAuthInstance().disconnect();
  }


  startApp();


</script>

<!-- <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="bootstrap-show-password.min.js"></script> -->


<script src="https://accounts.google.com/gsi/client" async defer></script>
