<section id="profiles" class="profiles" id="profile-client">
  <div class="container mt-5" data-aos="fade-up">
    <div id="profil-c">
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">

$( document ).ready(function() {
  $( ".js-click" ).click(function (e) {
    e.preventDefault();
    $( "#exampleInputEmail1" ).css('border', '1px solid #8ec9ff');
    $( "#exampleInputEmail1" ).css('padding', '1rem');
  });

  $( ".js-click2" ).click(function (e) {
    e.preventDefault();
    $("#exampleInputPhone").css('border', '1px solid #8ec9ff');
    $( "#exampleInputPhone" ).css('padding', '1rem');
  });

});

  const fetchProfil = async () => {
    try {
      const response = await fetch('api/v1/clients/r/accounts/d1481241-76f0-4551-be84-80fdfd98e225');
      const json = await response.json();
      const client = json.data;

      console.log(json);

      var profilinfo = showClient(client);
      document.getElementById('profil-c').innerHTML = profilinfo;
    } catch (error) {
      console.log(error);
    }
  };

  fetchProfil();

  function showClient(element) {
    return ` <div class="row">  <div class="col-lg-4">
          <div class="row">
            <div class="col-md-5">
              <div class="info-box2">
                <div class="container">
                  <div class="d-flex-profile">
                    <img src="../images/profile.png" alt="Profile" class="rounded-circle" width="40" height="40" />
                    <p>${element.name}</p>
                  </div>
                </div>
                <div class="container">
                  <img src="../images/mini-profile.png" class="icon-pr" width="22" height="22" />
                  <a class="menu-pr" href="/profile">Profile</a>
                </div>
                <div class="container mt-2 mb-5">
                  <img src="../images/pesanan.png" class="icon-pr" width="25" height="25" />
                  <a class="menu-pr" href="/order-list">Order</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-8 mt-4 mt-lg-0 container-profiles">
          <div class="col-md-12">
            <div class="info-box">
              <div class="container">
                <h6 class="profiles-title">Profile</h6>
                <div class="col-sm-12">
                  <form method="POST" action="/api/v1/accounts/update?redirect=back %>">
                  <div class="d-flex-profiles">
                    <p class="title-profile">Name</p>
                    <p>${element.name}</p>
                  </div>
                  <div class="d-flex-profiles">
                    <p class="title-profile">Email</p>
                    <input type="email" name="email" class="form-control-prof" id="exampleInputEmail1"
                    value="${element['Account.email']}" required>
                    <button class="js-click">Edit</button>
                  </div>
                  <div class="d-flex-profiles mb-5">
                    <p class="title-profile">Telephone Number</p>
                    <input type="number" name="phone" class="form-control-prof" id="exampleInputPhone" value="${element.phone}" required>
                    <button class="js-click2">Edit</button>
                  </div>
                  <button type="submit" class="btn btn-profile btn-pink btn-circled">Save</button>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
`;
  }

  showClient();
</script>

