
<nav class="navbar_logo">
  <div class="justify-content-start">
    <div class="nav-alert">
      <div class="alert alert-warning alert-dismissible fade" id="alert-empty-register" role="alert">
        <div class="text-center">
          <h3> Please fill all text fields </h3>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
      <div class="alert alert-danger alert-dismissible fade hide" id="alert-missmatch-password" role="alert">
        <div class="text-center">
          <h3>Oops, Miss match password</h3>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
      <div class="alert alert-danger alert-dismissible fade hide" id="alert-error-register" role="alert">
        <div class="text-center">
          <h3>Check your data with already exists</h3>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
      <div class="alert alert-warning alert-dismissible fade" id="alert-warning-register" role="alert">
        <div class="text-center">
          <h3> Email already exists </h3>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
    </div>
    <a href="/">
      <img class="icon_logo" src="/images/Logo_Horizontal.png" alt="Logo">
    </a>
  </div>
</nav>
<section class="">
  <div class="register ">
    <div class="wrapper-register">
      <div class="container border border-2 mt-3 " id="deck-container">
        <div class="d-flex justify-content-center ">
          <div>
            <div class="title_login mb-3 text-center">
              <h1><img src="/images/Emoji.png" alt=""> Welcome to Promised!</h1>
            </div>
            <div class="col-md-12 mb-3 mt-4">
              <input type="name" name="name" id="nameRegister" class="form-control form_input_tag" placeholder="Name">
            </div>
            <div class="col-md-12 mb-3 ">
              <input type="email" name="email" id="emailRegister" class="form-control form_input_tag" placeholder="Email">
            </div>
            <div class="col-md-12 mb-3">
              <input type="phone" name="phone" id="handphoneRegister" class="form-control form_input_tag" placeholder="Handphone">
            </div>
            <div class="input_password col-md-12 mb-3 toggle">
              <input type="password" name="password" id="passwordRegister" class="form-control toggle__input form_input_tag" placeholder="Password">
              <i id="visibilityBtn">
                <span id="icon" class="material-icons">visibility</span>
              </i>
            </div>
            <div class="input_password col-md-12 mb-3 toggle">
              <input type="password" name="password" id="confirmationPasswordRegister" class="form-control toggle__input form_input_tag" placeholder="Confirmation Password">
              <i id="visibilityBtn2">
                <span id="icon2" class="material-icons">visibility</span>
              </i>
            </div>
            <button id="register_button" type="submit" class="col-md-12 btn btn_login">Register</button>
            <div class="text-center mb-4 mt-4">
              <h3 style="color: black;">OR</h3>
            </div>
            <div class="row">
              <div id="g_id_onload_register" data-client_id="345966895931-gkh5og2n6ft8l8se9b764dtlj4ohs59n.apps.googleusercontent.com" data-login_uri="/api/v1/auth/register/provider" data-auto_prompt="false">
                <a class="btn_google d-flex align-items-center justify-content-center col-md-12 btn " href="#"><img class="me-1" src="https://img.icons8.com/color/16/000000/google-logo.png">Register with Google</a>
              </div>
            </div>
            <div class="mb-5 mt-4 text-center">
              <h5 class="account" style="color: black;">Already have an account?
                <a href="/login" class="register login">Log In</a>
              </h5>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>

  const visibilityBtn = document.getElementById("visibilityBtn");
  const visibilityBtn2 = document.getElementById("visibilityBtn2");
  visibilityBtn.addEventListener("click", toggleVisibility)
  visibilityBtn2.addEventListener("click", toggleVisibility2)

  function toggleVisibility () {
    const passwordInput = document.getElementById("passwordRegister")
    const icon = document.getElementById("icon")
    if (passwordInput.type === "password" ) {
        passwordInput.type = "text"
        icon.innerText = "visibility_off"
    } else {
        passwordInput.type = "password"
        icon.innerText = "visibility"
    }
}
function toggleVisibility2 () {

  const confirmationPasswordInput = document.getElementById("confirmationPasswordRegister")
  const icon = document.getElementById("icon2")
  if (confirmationPasswordInput.type === "password" ) {

      confirmationPasswordInput.type = "text"
      icon.innerText = "visibility_off"
  } else {

      confirmationPasswordInput.type = "password"
      icon.innerText = "visibility"
  }
}

  function handleCredentialResponse(response) {
    console.log(response);
  }

  var googleUser = {};
  document.getElementById("register_button").addEventListener("click",function(){
    var nameRegister = document.getElementById("nameRegister").value;
    var emailRegister = document.getElementById("emailRegister").value;
    var handphoneRegister = document.getElementById("handphoneRegister").value;
    var passwordRegister = document.getElementById("passwordRegister").value;
    var confirmationPasswordRegister = document.getElementById("confirmationPasswordRegister").value;

    if(nameRegister == "" || emailRegister == "" || handphoneRegister == "" || confirmationPasswordRegister == "" || passwordRegister == ""){
      $('#alert-empty-register').addClass('show');
    }else if(passwordRegister != confirmationPasswordRegister){
      $('#alert-missmatch-password').addClass('show');
    }
    else{
      let registerForm = {
        email:emailRegister,
        password:passwordRegister,
        name:nameRegister,
        phone:handphoneRegister,

      };
      let formData = new FormData();
      formData.append('email',emailRegister);
      formData.append('password',passwordRegister);
      formData.append('name',nameRegister);
      formData.append('phone',handphoneRegister);
      formData.append('avatar',"");


      let configRegister = {
        method: 'POST',
        body:formData,
      };

      let getResponseRegister = fetch("/api/v1/auth/register?role=client",configRegister).then(response => response.json())
      .then(data =>{
        window.location.href = "/"
      }).catch(error =>{

          $('#alert-warning-register').addClass('show');
      });
      console.log(getResponseRegister);
    }
  });
  //Register with Google account
  var startApp = function() {
    gapi.load('auth2', function(){
      // Retrieve the singleton for the GoogleAuth library and set up the client.
      auth2 = gapi.auth2.init({
        client_id: '345966895931-gkh5og2n6ft8l8se9b764dtlj4ohs59n.apps.googleusercontent.com',
        cookiepolicy: 'single_host_origin',
        // Request scopes in addition to 'profile' and 'email'
        //scope: 'additional_scope'
      });
      console.log(auth2);
      attachSignin(document.getElementById('g_id_onload_register'));
    });
  };

  function attachSignin(element) {
    console.log(element.id);
    auth2.attachClickHandler(element, {},
        function(googleUser) {
          console.log(googleUser);
          let credentialForm = {
            credential:googleUser.wc.id_token
          }

          let configGoogleSignin = {
            method: 'POST',
            body:JSON.stringify(credentialForm),
            headers: {
              "Content-type":"application/json"
            }
          }

          let googleResponse = fetch("/api/v1/auth/register/provider",configGoogleSignin).then(response => response.json())
          .then(data =>{
            window.location.href = "/";
          })
          .catch(error =>{
            gapi.auth2.getAuthInstance().disconnect();
          })
        }, function(error) {
          alert(JSON.stringify(error, undefined, 2));
        });
  }

  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
  var revokeAllScopes = function() {
    gapi.auth2.getAuthInstance().disconnect();
  }

  startApp();
</script>
<script src="https://accounts.google.com/gsi/client" async defer></script>
