<section class="vendor-views">
    <div class="container">
        <p class="page">Home > Vendor</p>
        <h1>All Vendor</h1>
        <p style="max-width: 30rem; text-align: justify;">Find your best vendor and find various special services from vendors to make your special day more meaningful and
        memorable</p>
        <div class="multiple-selection">
            <div class="search">
                <input id="myFilter" class="search-input" type="text" placeholder="Cari Vendor">
                <div id="myBtn" class="search-icon" onclick="searching()">
                    <img src="/images/search-icon.png" width="20" height="20">
                </div>
            </div>
            <form action="/">
                <div class="dropdown">
                    <div class="multiselect">
                        <div class="selectBox" onclick="showKategori()">
                            <select>
                                <option>Kategori</option>
                            </select>
                            <div class="overSelect"></div>
                        </div>
                        <div id="checkboxes-kategori" class="checkboxes">
                            <label for="value1">
                                <input type="checkbox" id="value1" />Catering</label>
                            <label for="value2">
                                <input type="checkbox" id="value2" />Decor</label>
                            <label for="value3">
                                <input type="checkbox" id="value3" />Makeup</label>
                        </div>
                    </div>
                    <div class="multiselect">
                        <div class="selectBox" onclick="showHarga()">
                            <select>
                                <option>Harga</option>
                            </select>
                            <div class="overSelect"></div>
                        </div>
                        <div id="checkboxes-harga" class="checkboxes">
                            <label for="harga1">
                                <input type="checkbox" id="harga1" />Harga 1</label>
                            <label for="harga2">
                                <input type="checkbox" id="harga2" />Harga 2</label>
                            <label for="harga3">
                                <input type="checkbox" id="harga3" />Harga 3</label>
                        </div>
                    </div>
                    <div class="multiselect">
                        <div class="selectBox" onclick="showLokasi()">
                            <select>
                                <option>Lokasi</option>
                            </select>
                            <div class="overSelect"></div>
                        </div>
                        <div id="checkboxes-lokasi" class="checkboxes">
                            <label for="lokasi1">
                                <input type="checkbox" id="lokasi1" />Lokasi 1</label>
                            <label for="lokasi2">
                                <input type="checkbox" id="lokasi2" />Lokasi 2</label>
                            <label for="lokasi3">
                                <input type="checkbox" id="lokasi3" />Lokasi 3</label>
                        </div>
                    </div>
                    <div class="multiselect">
                        <div class="selectBox" onclick="showJenisVendor()">
                            <select>
                                <option>Jenis Vendor</option>
                            </select>
                            <div class="overSelect"></div>
                        </div>
                        <div id="checkboxes-jenis-vendor" class="checkboxes">
                            <label for="vendor1">
                                <input type="checkbox" id="vendor1" />Jns Vendor 1</label>
                            <label for="vendor2">
                                <input type="checkbox" id="vendor2" />Jns Vendor 2</label>
                            <label for="vendor3">
                                <input type="checkbox" id="vendor3" />Jns Vendor 3</label>
                        </div>
                    </div>
                    <input class="filter" type="submit" value="Filter">
                </div>
            </form>
        </div>
        <div class="cards" id="myItems">
        </div>
    </div>
</section>
