<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Promise | Verification</title>
  <style>
    /* Styling here */
    main {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  </style>
</head>
<body>
  <main>
    <% if (success) { %>
      <h2>Verification Success!</h2>
      <a href="/">Click here to login</a>
      <script>
        //TODO: auto redirect until 3 or 5 seconds
      </script>
    <% } else { %>
        <h2>Verification failed :(</h2>
        <a href="/register">Click here to register</a>
    <% } %>
  </main>
</body>
</html>
