<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Wedding Synrgy <%= '| ' + props.title ?? '' %></title>

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <!-- icon -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- JQuery -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    <script src="https://apis.google.com/js/api:client.js"></script>
    <meta
      name="google-signin-client_id"
      content="345966895931-gkh5og2n6ft8l8se9b764dtlj4ohs59n.apps.googleusercontent.com"
    />
  </head>

  <body>
    <!-- Different layout for login -->
    <% if (page==="login" || page==="register" || page==="reset/index" || page==="reset/confirmation") { %>
      <!-- Render Login/Register -->
      <main role="main"><%- include('pages/'+page, props); %></main>
    <% } else { %>
        <!-- NAVBAR -->
      <% if (!user) { %>
        <%- include('layouts/navbar'); %>
      <% } else { %>
        <%- include('layouts/navbar_after'); %>
      <% } %>
    <main role="main">
      <!-- CONTENT -->
      <%- include('pages/'+page, props); %>
    </main>
    <!-- FOOTER -->
    <%- include('layouts/footer'); %> <% } %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="/js/script.js" async></script>
  </body>
</html>
