<div class="container product-detail-container product404">
  <div class="row product-detail-row">
    <div class="col-md-7">
      <!-- Swiper -->
      <div class="swiper-container swiper-container-product">
        <div class="swiper swiper-product gallery-top">
          <div class="swiper-wrapper domhere">
            <!-- <div class="swiper-slide swiper-slide-product" style="background-image: url(/images/header-img.jpg)"></div>
            <div class="swiper-slide swiper-slide-product" style="background-image: url(/images/header-img.jpg)"></div>
            <div class="swiper-slide swiper-slide-product" style="background-image: url(/images/header-img.jpg)"></div>
            <div class="swiper-slide swiper-slide-product" style="background-image: url(/images/header-img.jpg)"></div>
            <div class="swiper-slide swiper-slide-product" style="background-image: url(/images/header-img.jpg)"></div> -->
          </div>
          <!-- Add Arrows -->
          <div class="swiper-button-next home-swiper-button-next"><img src="/images/arrow-right.svg" alt="" /></div>
          <div class="swiper-button-prev home-swiper-button-prev"><img src="/images/arrow-left.svg" alt="" /></div>
        </div>
        <div class="swiper swiper-product gallery-thumbs">
          <div class="swiper-wrapper domhere2">
            <!-- <div class="swiper-slide swiper-slide-product" style="background-image: url(/images/header-img.jpg)"></div>
            <div class="swiper-slide swiper-slide-product" style="background-image: url(/images/header-img.jpg)"></div>
            <div class="swiper-slide swiper-slide-product" style="background-image: url(/images/header-img.jpg)"></div>
            <div class="swiper-slide swiper-slide-product" style="background-image: url(/images/header-img.jpg)"></div>
            <div class="swiper-slide swiper-slide-product" style="background-image: url(/images/header-img.jpg)"></div> -->
          </div>
        </div>
      </div>
      <!-- end swiper -->

      <div class="product-detail-desc">
        <h4>Detail</h4>
        <p class="product-detail-desc-detail">
          PHOTO & VIDEO "GOLD WEDDING PACKAGE" PHOTO GOLD - 2 Photographers - Max 8 hours - Photobook album (30x40) 20 pages
          - Hardcover album (20x30) 22 pages - Unlimited taking pictures - Sneakpeek more than 100 photos - Flashdisk for
          softcopy all file Additional photo : Extra session / hours : IDR 2.500.000 / 4 hours VIDEO GOLD ( include full
          documentation ) - 3 Videgraphers - Max 8 hours - Teaser ( 1 minutes ) - Full doc. Min 45 minutes video Additional
          video : Extra session / hours : IDR 3.000.000 / 4 hours
        </p>
      </div>
    </div>
    <div class="col-md-5">
      <div class="product-detail-order">
        <h4 class="product-detail-order-title">Product Name</h4>
        <p class="product-detail-order-vendor">by <span class="product-detail-order-vendor-name">Vendor Name</span></p>

        <div class="product-detail-order-price d-flex justify-content-center align-items-center">
          <div class="product-detail-order-price-desc">
            <p class="normal">Rp. 50.000.000</p>
            <p class="discount">Rp. 20.000.000</p>
          </div>
          <div class="product-detail-order-price-disc">
            <p class="hemat">Hemat</p>
            <p class="selisih">30 Juta</p>
          </div>
        </div>

        <div class="product-detail-order-category">
          <img src="/images/venue.svg" alt="" />
          <p class="product-detail-order-category-cat">Venue</p>
        </div>

        <hr class="product-detail-order-line" />

        <div class="product-detail-order-city">
          <p>City</p>
          <div class="d-flex justify-content-center align-items-center">
            <img src="/images/map.svg" alt="" />
            <p class="city product-detail-order-city-city">Bandung</p>
          </div>
        </div>

        <hr class="product-detail-order-line" />

        <div class="product-detail-order-capacity">
          <p>Capacity</p>
          <div class="d-flex justify-content-center align-items-center">
            <img src="/images/pax.svg" alt="" />
            <p class="capacity"><span class="capacity-num">500</span> Pax</p>
          </div>
        </div>

        <hr class="product-detail-order-line" />

        <div class="product-detail-order-date">
          <p>Booking Data</p>
          <input type="date" name="date" class="w-100" id="product-detail-order-date-input" />
        </div>

        <button class="product-detail-order-btn" onclick="addcart(event)">Masukkan Keranjang</button>
      </div>

      <div class="product-detail-vendor d-flex justify-content-center align-items-center flex-column">
        <div class="product-detail-vendor-imgwrapper">
          <img class="product-detail-vendor-img" src="/images/header-img.jpg" alt="" />
        </div>
        <div class="product-detail-vendor-rating d-flex justify-content-center align-items-center">
          <span class="material-icons product-detail-vendor-star">star</span>
          <p class="rating"><span class="ratingstart">4</span>/<span class="ratingend">5</span></p>
        </div>

        <p class="product-detail-vendor-name">Vendor Name</p>
        <p class="product-detail-vendor-location">Jakarta</p>

        <ul class="social-media list-unstyled d-flex justify-content-center align-items-center">
          <li>
            <a class="btn btn-floating text-dark" href="https://instagram.com/" target="_blank">
              <i class="fab fa-instagram fa-2x" id="iconfix"></i>
            </a>
          </li>
          <li>
            <a class="btn btn-floating text-dark" href="https://www.linkedin.com/" target="_blank">
              <i class="fab fa-linkedin fa-2x" id="iconfix"></i>
            </a>
          </li>
          <li>
            <a class="btn btn-floating text-dark" href="https://www.facebook.com/" target="_blank">
              <i class="fab fa-facebook fa-2x" id="iconfix"></i>
            </a>
          </li>
        </ul>

        <a href="#" class="product-detail-vendor-btn">Kunjungi Toko</a>
      </div>
    </div>
  </div>
</div>

<script>
  const productID = window.location.pathname.substring(window.location.pathname.lastIndexOf('/') + 1);
  const fetchOneProduct = async () => {
    try {
      const response = await fetch(`/api/v1/product/${productID}`);
      const json = await response.json();

      // console.log(data);
      if (json.code === 400) {
        renderOneProduct404();
        return;
      }
      if (json.code === 200) {
        const data = json.data.data;
        renderOneProduct(data, productID);
      }
      loadSwiperDetailProduct();
      return;
    } catch (error) {
      console.log(error);
    }
  };

  fetchOneProduct();

  const renderOneProduct = (data, productID) => {
    // const demo = document.getElementsByClassName('product-detail-order-title');
    // console.log(demo);

    $(document).ready(function () {
      $('.product-detail-order-title').text(data.name);
      $('.product-detail-order-vendor-name').text(data.Vendor.name);
      $('.normal').text('Rp.' + data.price.toLocaleString('id-ID'));
      $('.discount').text('Rp.' + (data.price - (data.price * data.discount) / 100).toLocaleString('id-ID'));
      $('.selisih').text(
        (data.price - (data.price - (data.price * data.discount) / 100)).toLocaleString('id-ID').substring(0, 3) + ' Juta'
      );

      $('.product-detail-order-category-cat').text(data.Vendor.categories[0]);
      $('.product-detail-order-city-city').text(data.Vendor.city);
      $('.capacity-num').text(data.capacity);

      $('.product-detail-vendor-img').attr('src', data.Vendor.Account.avatar);
      $('.product-detail-vendor-name').text(data.Vendor.name);
      $('.product-detail-vendor-location').text(data.Vendor.city);
      $('.product-detail-vendor-btn').attr('href', '/vendors/' + data.Vendor.id);

      $('.product-detail-desc-detail').text(data.description);

      const html = data.images
        .map((data) => {
          return `<div class="swiper-slide swiper-slide-product" style="background-image: url(${data})"></div>`;
        })
        .join('');
      document.getElementsByClassName('domhere')[0].innerHTML = html;
      document.getElementsByClassName('domhere2')[0].innerHTML = html;

      // inputLocalStorage(data, productID);
    });

    // console.log(document.getElementsByClassName('domhere'))
    // return data;
    return
  };

  const renderOneProduct404 = () => {
    document.getElementsByClassName('product404')[0].innerHTML = '<h3>Product not found</h3>';
    return
  };

  // const inputLocalStorage = (data, productID) => {
  let cart = [];
  class Item {
    constructor(id, quantity, book_date) {
      this.id = id;
      this.quantity = quantity;
      this.book_date = book_date;
    }

    static save() {
      localStorage.setItem('carts', JSON.stringify(cart));
    }

    static loadCart() {
      cart = JSON.parse(localStorage.getItem('carts'));
    }

    static addCart(id, quantity, book_date) {
      console.log(cart);
      // for (const key in cart) {
      //   console.log(`${key}: ${cart[key]}`);
      //   if (cart[key].name === name) {
      //     cart[key].qty++;
      //     return;
      //   }
      // }
      for (const key of cart) {
        if (key.id === id) {
          key.quantity++;
          key.book_date = book_date;
          Item.save();
          return;
        }
      }

      if (cart.length !== 0) {
        const item = new Item(id, quantity, book_date);
        cart.push(item);
        Item.save();
        return
      }

      const item = new Item(id, quantity, book_date);
      cart.push(item);
      Item.save();
    }
  }

  if (localStorage.getItem('carts') != null) {
    Item.loadCart();
  }

  console.log(cart);

  function addcart(event) {
    // const date = new Date($('#product-detail-order-date-input').val());
    // console.log(date)
    //   day = date.getDate();
    //   month = date.getMonth() + 1;
    //   year = date.getFullYear();
    const id = productID;
    const quantity = 1;
    const date = document.getElementById("product-detail-order-date-input").value
    const book_date = new Date(date).toISOString()
    Item.addCart(id, quantity, book_date);
  }
  // };
</script>
