<!-- <section class="detail-vendor">
  <div class="container">
    <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item mt-3" aria-current="page">Home</li>
        <li class="breadcrumb-item mt-3" aria-current="page">Vendor</li>
        <li class="breadcrumb-item active mt-3" aria-current="page">Vendor Details</li>
      </ol>
    </nav>
  </div>
  <section class="profile">
    <div class="container">
      <div class="row">
        <div class="col-lg-1 col-md-4">
          <div class="profile-image mt-2">
            <img width="50px" height="50px" src="../images/profile.png" style="margin-left: 25px" />
          </div>
        </div>

        <div class="col-lg-10 col-md-3">
          <div class="info" id="info-profile">
            <div class="h-info vendor-name">
              <h4><img src="../images/verif.png" width="25" height="25" /></h4>
            </div>

            <div class="h-info vendor-category">
              <p></p>
            </div>

            <div class="h-info vendor-location">
              <p><img width="14px" height="14px" margin-right="2px" src="../images/icon-loc.png" /> Jakarta</p>
            </div>

            <div class="row">
              <div class="col-md-2 col-telp">
                <p class="vendor-telp">
                  <img width="14px" height="14px" margin-right="2px" src="../images/icon-telp.png" />
                </p>
              </div>
              <div class="col-md-2">
                <p class="vendor-email">
                  <img width="14px" height="14px" margin-right="2px" src="../images/icon-mail.png" />
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-1 col-md-8">
          <div class="info2" id="info-profile2">
            <a href="" onclick="myFunction()" class="btn-copy d-flex align-items-center justify-content-center mt-4">
              <img class="icon-p" width="14px" height="14px" margin-right="2px" src="../images/copy.png" alt=""
            /></a>
            <p class="vendor-rating mt-2">
              <img class="icon-p" width="14px" height="14px" margin-right="2px" src="../images/star.png" />4/5
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="info-vendor mt-5">
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link-vendor active" href="#about-contents" data-bs-toggle="tab">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link-vendor" href="#products-contents" data-bs-toggle="tab">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link-vendor" href="#reviews-contents" data-bs-toggle="tab">Reviews</a>
        </li>
      </ul>
      <div class="tab-content mt-3">
        <div id="about-contents" class="tab-pane active">
          
        </div>
        <div id="products-contents" class="tab-pane fade"></div>
        <div id="reviews-contents" class="tab-pane fade"></div>
      </div>
    </div>
  </section>
</section> -->

<!-- <script type="text/javascript">
  function myFunction() {
    /* Get the text field */
    var copyText = document.getElementById('info-profile');

    /* Select the text field */
    copyText.select();

    /* Copy the text inside the text field */
    navigator.clipboard.writeText(copyText.value);
  }

  const fetchAbout = async () => {
    try {
      const response = await fetch('api/v1/vendors/r/accounts/b1168d36-0be7-41ec-a618-3e6d1ced0d11');
      const json = await response.json();
      // console.log(json);

      const about = json.data;

      var aboutinfo = showAbout(about);
      document.getElementById('about-contents').innerHTML = aboutinfo;

      var profileinfo = showProfile(about);
      document.getElementById('info-profile').innerHTML = profileinfo;
    } catch (error) {
      console.log(error);
    }
  };

  fetchAbout();

  function showAbout(element) {
    // console.log(element.information);
    return `<img src="${element.banner}" class="img-fluid" style="width:100%" />
            <div class="paragraph-about information mt-5">
              <h6>Information</h6>
              <p class="text-justify">
                  ${element.information}
              </p>
            </div>
  
            <div class="paragraph-about experience mt-5">
              <h6>Experience</h6>
              <p class="text-justify">
                ${element.experience}
              </p>
            </div>
  
            <div class="paragraph-about service mt-5">
              <h6>Service</h6>
              <p class="text-justify">
                ${element.service}
              </p>
            </div>
  
            <div id="wrapper">
              <h6 id="lisence-text">Lisence</h6>
            </div>
  
            <div id="wrapper2">
              <div class="siup-lisence mb-5" id="lisence-img">
                <img src="../images/SIUP.png" width="25" height="25" />
                <p class="menu-title">SIUP</p>
              </div>
            </div>`;
  }

  showAbout();

  // fetch profile
  function showProfile(element) {
    return `<div class="h-info vendor-name">
                <h4> ${element.name}
                  
                  <img src="../images/verif.png" width="25" height="25" />
                  </h4>
              </div>
  
              <div class="h-info vendor-category">
                <p>${element.categories}</p>
              </div>
  
              <div class="h-info vendor-location">
                <p><img width="14px" height="14px" margin-right="2px" src="../images/icon-loc.png" />    
                  ${element.city}</p>
              </div>
  
              <div class="row">
                <div class="col-md-2 col-telp">
                  <p class="vendor-telp">
                    <img width="14px" height="14px" margin-right="2px" src="../images/icon-telp.png" /> ${element.phone}
                  </p>
                </div>
                <div class="col-md-2">
                  <p class="vendor-email">
                    <img width="14px" height="14px" margin-right="2px" src="../images/icon-mail.png" />
                    ${element['Account.email']}
                  </p>
                </div>`;
  }

  showProfile();
</script> -->
