<section class="detail-vendor">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item mt-3" aria-current="page">Home</li>
                <li class="breadcrumb-item mt-3" aria-current="page">Vendor</li>
                <li class="breadcrumb-item active mt-3" aria-current="page">Vendor Details</li>
            </ol>
        </nav>
    </div>
    <section class="profile">
        <div class="container">
            <div class="row">
                <div class="col-lg-1 col-md-4">
                    <div class="profile-image mt-2">
                        <img width="50px" height="50px" src="../images/profile.png" style="margin-left: 25px" />
                    </div>
                </div>

                <div class="col-lg-10 col-md-3">
                    <div class="info" id="info-profile">
                        <div class="h-info vendor-name">
                            <h4><img src="../images/verif.png" width="25" height="25" /></h4>
                        </div>

                        <div class="h-info vendor-category">
                            <p></p>
                        </div>

                        <div class="h-info vendor-location">
                            <p><img width="14px" height="14px" margin-right="2px" src="../images/icon-loc.png" />
                                Jakarta</p>
                        </div>

                        <div class="row">
                            <div class="col-md-2 col-telp">
                                <p class="vendor-telp">
                                    <img width="14px" height="14px" margin-right="2px" src="../images/icon-telp.png" />
                                </p>
                            </div>
                            <div class="col-md-2">
                                <p class="vendor-email">
                                    <img width="14px" height="14px" margin-right="2px" src="../images/icon-mail.png" />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-1 col-md-8">
                    <div class="info2" id="info-profile2">
                        <a href="" onclick="myFunction()"
                            class="btn-copy d-flex align-items-center justify-content-center mt-4">
                            <img class="icon-p" width="14px" height="14px" margin-right="2px" src="../images/copy.png"
                                alt="" /></a>
                        <p class="vendor-rating mt-2">
                            <img class="icon-p" width="14px" height="14px" margin-right="2px"
                                src="../images/star.png" />4/5
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="info-vendor mt-5">
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link-vendor active" href="#about-contents" data-bs-toggle="tab">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link-vendor" href="#products-contents" data-bs-toggle="tab">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link-vendor" href="#reviews-contents" data-bs-toggle="tab">Reviews</a>
                </li>
            </ul>
            <div class="tab-content mt-3">
                <div id="about-contents" class="tab-pane active">
                    <script type="text/javascript">
                        function myFunction() {
                          var copyText = document.getElementById('info-profile');
                          copyText.select();
                          navigator.clipboard.writeText(copyText.value);
                        }
                      
                        const fetchAbout = async () => {
                          try {
                            const response = await fetch('/api/v1/vendors/r/accounts/8fe348e9-d3b3-4adc-b204-5fc8b8f23814');
                            const json = await response.json();
                      
                            const about = json.data;
                      
                            var aboutinfo = showAbout(about);
                            document.getElementById('about-contents').innerHTML = aboutinfo;
                      
                            var profileinfo = showProfile(about);
                            document.getElementById('info-profile').innerHTML = profileinfo;
                          } catch (error) {
                            console.log(error);
                          }
                        };
                      
                        fetchAbout();
                      
                        function showAbout(element) {
                          // console.log(element.information);
                          return `<img src="${element.banner}" class="img-fluid" style="width:100%" />
                                  <div class="paragraph-about information mt-5">
                                    <h6>Information</h6>
                                    <p class="text-justify">
                                        ${element.information}
                                    </p>
                                  </div>
                        
                                  <div class="paragraph-about experience mt-5">
                                    <h6>Experience</h6>
                                    <p class="text-justify">
                                      ${element.experience}
                                    </p>
                                  </div>
                        
                                  <div class="paragraph-about service mt-5">
                                    <h6>Service</h6>
                                    <p class="text-justify">
                                      ${element.service}
                                    </p>
                                  </div>
                        
                                  <div id="wrapper">
                                    <h6 id="lisence-text">Lisence</h6>
                                  </div>
                        
                                  <div id="wrapper2">
                                    <div class="siup-lisence mb-5" id="lisence-img">
                                      <img src="../images/SIUP.png" width="25" height="25" />
                                      <p class="menu-title">SIUP</p>
                                    </div>
                                  </div>`;
                        }
                      
                        showAbout();
                      
                        // fetch profile
                        function showProfile(element) {
                          return `<div class="h-info vendor-name">
                                      <h4> ${element.name}
                                        
                                        <img src="../images/verif.png" width="25" height="25" />
                                        </h4>
                                    </div>
                        
                                    <div class="h-info vendor-category">
                                      <p>${element.categories}</p>
                                    </div>
                        
                                    <div class="h-info vendor-location">
                                      <p><img width="14px" height="14px" margin-right="2px" src="../images/icon-loc.png" />    
                                        ${element.city}</p>
                                    </div>
                        
                                    <div class="row">
                                      <div class="col-md-2 col-telp">
                                        <p class="vendor-telp">
                                          <img width="14px" height="14px" margin-right="2px" src="../images/icon-telp.png" /> ${element.phone}
                                        </p>
                                      </div>
                                      <div class="col-md-2">
                                        <p class="vendor-email">
                                          <img width="14px" height="14px" margin-right="2px" src="../images/icon-mail.png" />
                                          ${element['Account.email']}
                                        </p>
                                      </div>`;
                        }
                      
                        showProfile();
                    </script>
                </div>


                <!-- Detail Vendor - Products -->
                <div id="products-contents" class="tab-pane fade">
                    <div class="container vendor-product-container">
                        <div class="row domhere">
                          <%# for (let i = 0; i < 6; i++) {%>
                          
                          <%# } %>
                        </div>
                      
                        <div class="pagination-container">
                          <ul id="pagination-demo" class="pagination-sm"></ul>
                        </div>
                        
                    </div>
                      
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
                      
                    <script>
                        const renderProduct = (data) => {
                          const html = data.rows
                            .map((data) => {
                              return `<div class="col-md-6">
                              <div class="card mb-3 card-product" style="max-width: 590px">
                              <img
                                src="${data.images[0]}"
                                class="card-img-top product-img"
                                alt="..."
                              />
                      
                              <div class="card-body product-desc">
                                <h5 class="card-title product-title">${data.name}</h5>
                      
                                <div class="card-info d-flex">
                                  <div class="card-text product-card-icon-container">
                                    <img class="product-card-icon" src="/images/price.svg" alt="" />
                                    <p class="d-inline">${data.price.toLocaleString('id-ID')}</p>
                                  </div>
                                  <div class="card-text">
                                    <img class="product-card-icon" src="/images/pax.svg" alt="" />
                                    <p class="d-inline">${data.capacity} pax</p>
                                  </div>
                                </div>
                      
                                <p class="card-text card-desc">${data.description}</p>
                      
                                <div class="text-start">
                                  <button type="button" class="btn btn-card d-flex align-items-centers" onclick="location.href='/products/${data.id}'">
                                    Detail <span class="material-icons btn-card-arrow">east</span>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>`;
                            })
                            .join('');
                      
                          document.getElementsByClassName('domhere')[0].innerHTML = html;
                          totalpage = renderTotalpage(data);
                      
                        };
                        let totalpage;
                        let renderTotalpage = (data) => {
                          return data.count;
                        };
                      
                        // 2-pagination
                        let currentpage = 1;
                        let prevpage = 1;
                        let range;
                        let offset;
                        const vendorID = window.location.pathname.substring(window.location.pathname.lastIndexOf('/') + 1);
                        const fetchInit = async () => {
                          try {
                            const response = await fetch(`/api/v1/product/r/${vendorID}?limit=0`);
                            const json = await response.json();
                            
                            $('#pagination-demo').twbsPagination({
                              totalPages: json.data.count / 2,
                              visiblePages: 6,
                              next: 'Next',
                              prev: 'Prev',
                              nextClass: 'pagination-color',
                              onPageClick: function (event, page) {
                                const fetchProduct = async (limit, offset) => {
                                  try {
                                    const response = await fetch(`/api/v1/product/r/${vendorID}?limit=${limit}&offset=${offset}`);
                                    const json = await response.json();
                                    
                                    renderProduct(json.data);
                                    return;
                                  } catch (error) {
                                    console.log(error);
                                  }
                                };
                                
                                offset = 2 * page - 2;
                                fetchProduct(2, offset); // fetch execution
                                prevpage = page;
                              }, //onpage
                            });
                            // end pagination
                            return;
                          } catch (error) {
                            console.log(error);
                          }
                        };
                        fetchInit()
                      
                    </script>
                </div>


                <!-- Detail Vendor - Reviews -->
                <div id="reviews-contents" class="tab-pane fade">
                    <section class="review-section">
                        <div class="container-fluid pb-2">
                            <div class="review-container container">
                                <div class="row py-5 mx-3">
                                    <!-- Rating Star-->
                                    <div id="ratingStars" class="col-2 align-items-center text-dark mb-3">
                    
                                    </div>
                    
                                    <!-- Progress Rating -->
                                    <div class="col-4 text-dark">
                                        <div class="table-responsive">
                                            <table class="table-rates mt-3">
                                                <tr>
                                                    <td>5</td>
                                                    <td class="col-xs-8 col-md-9 rating-bar-5 pe-2">
                                                        <div class="progress" id="progress-bar-1" style="height: 6px">
                                                            <div class="progress-bar w-100 bg-success" role="progressbar" aria-valuenow="50"
                                                                aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </td>
                                                    <td id="voters-1"></td>
                                                </tr>
                    
                                                <tr>
                                                    <td>4</td>
                                                    <td class="rating-bar-4 pe-2">
                                                        <div class="progress" style="height: 6px">
                                                            <div class="progress-bar bg-success" id="progress-bar-2" role="progressbar" aria-valuenow="50"
                                                                aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </td>
                                                    <td id="voters-2"></td>
                                                </tr>
                    
                                                <tr>
                                                    <td>3</td>
                                                    <td class="rating-bar-3 pe-2">
                                                        <div class="progress" style="height: 6px">
                                                            <div class="progress-bar bg-success" id="progress-bar-3" role="progressbar" aria-valuenow="4"
                                                                aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </td>
                                                    <td id="voters-3"></td>
                                                </tr>
                    
                                                <tr>
                                                    <td>2</td>
                                                    <td class="rating-bar-2 pe-2">
                                                        <div class="progress" style="height: 6px">
                                                            <div class="progress-bar bg-success" id="progress-bar-4" role="progressbar" aria-valuenow="4"
                                                                aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </td>
                                                    <td id="voters-4"></td>
                                                </tr>
                    
                                                <tr>
                                                    <td>1</td>
                                                    <td class="rating-bar-1 pe-2">
                                                        <div class="progress" style="height: 6px">
                                                            <div class="progress-bar bg-success" id="progress-bar-5" role="progressbar" aria-valuenow="4"
                                                                aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </td>
                                                    <td id="voters-5"></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                    
                                <!-- Review from User -->
                                <div id="reviewComment">
                                </div>
                            </div>
                    
                            <!-- Pagination Reviews -->
                            <div class="pagination-review">
                                <ul class="pagination justify-content-center mt-4 mb-4">
                                    <li class="page-item disabled">
                                        <a class="page-link previous" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link next" href="#">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    
                    <script>
                        // Review from User
                        const fetchComment = async () => {
                            try {
                                const vendorID = window.location.pathname.substring(window.location.pathname.lastIndexOf('/') + 1);
                                const response = await fetch('/api/v1/feedback/'+ vendorID);
                                const json = await response.json();
                                const feedback = json.data.rows;
                                let reviews = ``;
                                feedback.forEach(element => reviews += showComments(element));
                                document.getElementById('reviewComment').innerHTML = reviews;
                    
                            } catch (error) {
                                console.log(error);
                            }
                        }
                    
                        fetchComment();
                    
                        function showComments(element) {
                            return  `<div class="row ps-4 pe-4 ms-4 me-4 gx-2 gy-1">
                                        <div class="col-12 text-dark">
                                            <div class="d-flex flex-start">
                                                <img class="rounded-circle shadow-1-strong me-3" src="${element.Client.Account.avatar}" alt=""
                                                    width="40" height="40" />
                                                <div>
                                                    <h6 class="fw-bold mb-1">${element.Client.name}</h6>
                                                    <div class="d-flex mb-3">
                                                        <div class="flex-grow-1">
                                                            ${new Date(element.feedbackDate).toLocaleDateString('id-ID', {
                                                                year: 'numeric', month: 'long', day: 'numeric' })
                                                            }
                                                        </div>
                                                        <div class="d-flex align-items-center justify-content-center">
                                                            <i class="fa fa-star px-2" style="color: #f1c40f"></i>
                                                            <p class="mb-0"> ${element.rating}/5 </p>
                                                        </div>
                                                    </div>
                                                    <p class="mb-2"><b>${element.title}</b></p>
                                                    <p class="mb-5" style="text-align: justify">
                                                        ${element.comment}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>`;
                        }
                    
                    
                        // Display Star Rating Vendor
                        const fetchStarRating = async () => {
                            try {
                                const res = await fetch('/api/v1/feedback/rating/8fe348e9-d3b3-4adc-b204-5fc8b8f23814');
                                const json = await res.json();
                                const starRatings = json.data.allStar;
                    
                                let ratings = ``;
                                [starRatings].forEach(el => ratings += showRatingStar(el));
                                document.getElementById('ratingStars').innerHTML = ratings;
                    
                            } catch (error) {
                                consoloe.log(error);
                            }
                        }
                    
                        fetchStarRating();
                    
                        function showRatingStar(el) {
                            var starSymbol = ``;
                            if (el.starOutOf == 5) {
                                starSymbol = `<span class="fa fa-star" style="color:#FFC200"></span>
                                                <span class="fa fa-star" style="color:#FFC200"></span>
                                                <span class="fa fa-star" style="color:#FFC200"></span>
                                                <span class="fa fa-star" style="color:#FFC200"></span>
                                                <span class="fa fa-star" style="color:#FFC200"></span>`;
                            } else if (el.starOutOf < 1) {
                                starSymbol = `<span class="fa fa-star" style="color: #B6B5B3"></span>
                                                <span class="fa fa-star" style="color: #B6B5B3"></span>
                                                <span class="fa fa-star" style="color: #B6B5B3"></span>
                                                <span class="fa fa-star" style="color: #B6B5B3"></span>
                                                <span class="fa fa-star" style="color: #B6B5B3"></span>`;
                            } else if (el.starOutOf < 2) {
                                starSymbol = `<span class="fa fa-star" style="color:#FFC200"></span>
                                                <span class="fa fa-star" style="color: #B6B5B3"></span>
                                                <span class="fa fa-star" style="color: #B6B5B3"></span>
                                                <span class="fa fa-star" style="color: #B6B5B3"></span>
                                                <span class="fa fa-star" style="color: #B6B5B3"></span>`;
                            } else if (el.starOutOf < 3) {
                                starSymbol = `<span class="fa fa-star" style="color:#FFC200"></span>
                                                <span class="fa fa-star" style="color:#FFC200"></span>
                                                <span class="fa fa-star" style="color: #B6B5B3"></span>
                                                <span class="fa fa-star" style="color: #B6B5B3"></span>
                                                <span class="fa fa-star" style="color: #B6B5B3"></span>`;
                            } else {
                                starSymbol = `<span class="fa fa-star" style="color:#FFC200"></span>
                                                <span class="fa fa-star" style="color:#FFC200"></span>
                                                <span class="fa fa-star" style="color:#FFC200"></span>
                                                <span class="fa fa-star" style="color: #B6B5B3"></span>
                                                <span class="fa fa-star" style="color: #B6B5B3"></span>`;
                            }
                    
                            return `<div class="d-flex justify-content-center pt-1">
                                            <h1 class="rating-number mt-3 mb-3 fw-bold">${el.starOutOf}</h1>
                                            <p class="fw-normal fs-5 mt-3 mb-3 pt-3 ps-1">/5</p>
                                        </div>
                                            <div class="starSymbol d-flex justify-content-center mb-4">
                                                ${starSymbol}
                                            </div>
                                            <div class="d-flex justify-content-center mt-3">
                                                <p>(${el.totalStar}) Ulasan</p>
                                        </div>`;
                        }
                    
                    
                        // Display Rating Bar Vendor
                        async function showRatingBar() {
                            try {
                                const responses = await fetch('/api/v1/feedback/rating/8fe348e9-d3b3-4adc-b204-5fc8b8f23814');
                                const json = await responses.json();
                                const ratingBars = json.data;
                                var dataStar = [];
                    
                                dataStar.push(ratingBars.allStar.fiveStar, ratingBars.allStar.fourStar, ratingBars.allStar.threeStar,
                                ratingBars.allStar.twoStar, ratingBars.allStar.oneStar);
                    
                                dataStar.forEach((value, index) => {
                                    let bar = document.getElementById(`progress-bar-${index + 1}`);
                                    let voter = document.getElementById(`voters-${index + 1}`);
                                    voter.innerText = value;
                    
                                    bar.style.width = `${value/ratingBars.allStar.totalStar * 200}px`;
                    
                                    document.getElementById
                                })
                    
                            } catch (error) {
                                console.log(error);
                            }
                        }
                        showRatingBar();
                    
                    </script>
                </div>
            </div>
        </div>
    </section>
</section>