<!-- <div class="container vendor-product-container">
  <div class="row domhere">
    <%# for (let i = 0; i < 6; i++) {%>
    
    <%# } %>
  </div>

  <div class="pagination-container">
    <ul id="pagination-demo" class="pagination-sm"></ul>
  </div>
  
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>

<script>
  const renderProduct = (data) => {
    const html = data.rows
      .map((data) => {
        return `<div class="col-md-6">
        <div class="card mb-3 card-product" style="max-width: 590px">
        <img
          src="${data.images[0]}"
          class="card-img-top product-img"
          alt="..."
        />

        <div class="card-body product-desc">
          <h5 class="card-title product-title">${data.name}</h5>

          <div class="card-info d-flex">
            <div class="card-text product-card-icon-container">
              <img class="product-card-icon" src="/images/price.svg" alt="" />
              <p class="d-inline">${data.price.toLocaleString('id-ID')}</p>
            </div>
            <div class="card-text">
              <img class="product-card-icon" src="/images/pax.svg" alt="" />
              <p class="d-inline">${data.capacity} pax</p>
            </div>
          </div>

          <p class="card-text card-desc">${data.description}</p>

          <div class="text-start">
            <button type="button" class="btn btn-card d-flex align-items-centers" onclick="location.href='/products/${data.id}'">
              Detail <span class="material-icons btn-card-arrow">east</span>
            </button>
          </div>
        </div>
      </div>
    </div>`;
      })
      .join('');

    document.getElementsByClassName('domhere')[0].innerHTML = html;
    totalpage = renderTotalpage(data);

  };
  let totalpage;
  let renderTotalpage = (data) => {
    return data.count;
  };

  // 2-pagination
  let currentpage = 1;
  let prevpage = 1;
  let range;
  let offset;
  const vendorID = window.location.pathname.substring(window.location.pathname.lastIndexOf('/') + 1);
  const fetchInit = async () => {
    try {
      const response = await fetch(`/api/v1/product/r/${vendorID}?limit=0`);
      const json = await response.json();
      
      $('#pagination-demo').twbsPagination({
        totalPages: json.data.count / 2,
        visiblePages: 6,
        next: 'Next',
        prev: 'Prev',
        nextClass: 'pagination-color',
        onPageClick: function (event, page) {
          const fetchProduct = async (limit, offset) => {
            try {
              const response = await fetch(`/api/v1/product/r/${vendorID}?limit=${limit}&offset=${offset}`);
              const json = await response.json();
              
              renderProduct(json.data);
              return;
            } catch (error) {
              console.log(error);
            }
          };
          
          offset = 2 * page - 2;
          fetchProduct(2, offset); // fetch execution
          prevpage = page;
        }, //onpage
      });
      // end pagination
      return;
    } catch (error) {
      console.log(error);
    }
  };
  fetchInit()

</script> -->