<!-- <section class="review-section">
    <div class="container-fluid pb-2">
        <div class="review-container container">
            <div class="row py-5 mx-3">
                <!-- Rating Star
                <div id="ratingStars" class="col-2 align-items-center text-dark mb-3">

                </div>

                <!-- Progress Rating 
                <div class="col-4 text-dark">
                    <div class="table-responsive">
                        <table class="table-rates mt-3">
                            <tr>
                                <td>5</td>
                                <td class="col-xs-8 col-md-9 rating-bar-5 pe-2">
                                    <div class="progress" id="progress-bar-1" style="height: 6px">
                                        <div class="progress-bar w-100 bg-success" role="progressbar" aria-valuenow="50"
                                            aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                                <td id="voters-1"></td>
                            </tr>

                            <tr>
                                <td>4</td>
                                <td class="rating-bar-4 pe-2">
                                    <div class="progress" style="height: 6px">
                                        <div class="progress-bar bg-success" id="progress-bar-2" role="progressbar" aria-valuenow="50"
                                            aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                                <td id="voters-2"></td>
                            </tr>

                            <tr>
                                <td>3</td>
                                <td class="rating-bar-3 pe-2">
                                    <div class="progress" style="height: 6px">
                                        <div class="progress-bar bg-success" id="progress-bar-3" role="progressbar" aria-valuenow="4"
                                            aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                                <td id="voters-3"></td>
                            </tr>

                            <tr>
                                <td>2</td>
                                <td class="rating-bar-2 pe-2">
                                    <div class="progress" style="height: 6px">
                                        <div class="progress-bar bg-success" id="progress-bar-4" role="progressbar" aria-valuenow="4"
                                            aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                                <td id="voters-4"></td>
                            </tr>

                            <tr>
                                <td>1</td>
                                <td class="rating-bar-1 pe-2">
                                    <div class="progress" style="height: 6px">
                                        <div class="progress-bar bg-success" id="progress-bar-5" role="progressbar" aria-valuenow="4"
                                            aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                                <td id="voters-5"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Review from User 
            <div id="reviewComment">
            </div>
        </div>

        <!-- Pagination Reviews 
        <div class="pagination-review">
            <ul class="pagination justify-content-center mt-4 mb-4">
                <li class="page-item disabled">
                    <a class="page-link previous" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link next" href="#">Next</a>
                </li>
            </ul>
        </div>
    </div>
</section>

<script>
    // Review from User
    const fetchComment = async () => {
        try {
            const vendorID = window.location.pathname.substring(window.location.pathname.lastIndexOf('/') + 1);
            const response = await fetch('/api/v1/feedback/'+ vendorID);
            const json = await response.json();
            const feedback = json.data.rows;
            let reviews = ``;
            feedback.forEach(element => reviews += showComments(element));
            document.getElementById('reviewComment').innerHTML = reviews;

        } catch (error) {
            console.log(error);
        }
    }

    fetchComment();

    function showComments(element) {
        return  `<div class="row ps-4 pe-4 ms-4 me-4 gx-2 gy-1">
                    <div class="col-12 text-dark">
                        <div class="d-flex flex-start">
                            <img class="rounded-circle shadow-1-strong me-3" src="${element.Client.Account.avatar}" alt=""
                                width="40" height="40" />
                            <div>
                                <h6 class="fw-bold mb-1">${element.Client.name}</h6>
                                <div class="d-flex mb-3">
                                    <div class="flex-grow-1">
                                        ${new Date(element.feedbackDate).toLocaleDateString('id-ID', {
                                            year: 'numeric', month: 'long', day: 'numeric' })
                                        }
                                    </div>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <i class="fa fa-star px-2" style="color: #f1c40f"></i>
                                        <p class="mb-0"> ${element.rating}/5 </p>
                                    </div>
                                </div>
                                <p class="mb-2"><b>${element.title}</b></p>
                                <p class="mb-5" style="text-align: justify">
                                    ${element.comment}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>`;
    }


    // Display Star Rating Vendor
    const fetchStarRating = async () => {
        try {
            const res = await fetch('api/v1/feedback/rating/8fe348e9-d3b3-4adc-b204-5fc8b8f23814');
            const json = await res.json();
            const starRatings = json.data.allStar;

            let ratings = ``;
            [starRatings].forEach(el => ratings += showRatingStar(el));
            document.getElementById('ratingStars').innerHTML = ratings;

        } catch (error) {
            consoloe.log(error);
        }
    }

    fetchStarRating();

    function showRatingStar(el) {
        var starSymbol = ``;
        if (el.starOutOf == 5) {
            starSymbol = `<span class="fa fa-star" style="color:#FFC200"></span>
                            <span class="fa fa-star" style="color:#FFC200"></span>
                            <span class="fa fa-star" style="color:#FFC200"></span>
                            <span class="fa fa-star" style="color:#FFC200"></span>
                            <span class="fa fa-star" style="color:#FFC200"></span>`;
        } else if (el.starOutOf < 1) {
            starSymbol = `<span class="fa fa-star" style="color: #B6B5B3"></span>
                            <span class="fa fa-star" style="color: #B6B5B3"></span>
                            <span class="fa fa-star" style="color: #B6B5B3"></span>
                            <span class="fa fa-star" style="color: #B6B5B3"></span>
                            <span class="fa fa-star" style="color: #B6B5B3"></span>`;
        } else if (el.starOutOf < 2) {
            starSymbol = `<span class="fa fa-star" style="color:#FFC200"></span>
                            <span class="fa fa-star" style="color: #B6B5B3"></span>
                            <span class="fa fa-star" style="color: #B6B5B3"></span>
                            <span class="fa fa-star" style="color: #B6B5B3"></span>
                            <span class="fa fa-star" style="color: #B6B5B3"></span>`;
        } else if (el.starOutOf < 3) {
            starSymbol = `<span class="fa fa-star" style="color:#FFC200"></span>
                            <span class="fa fa-star" style="color:#FFC200"></span>
                            <span class="fa fa-star" style="color: #B6B5B3"></span>
                            <span class="fa fa-star" style="color: #B6B5B3"></span>
                            <span class="fa fa-star" style="color: #B6B5B3"></span>`;
        } else {
            starSymbol = `<span class="fa fa-star" style="color:#FFC200"></span>
                            <span class="fa fa-star" style="color:#FFC200"></span>
                            <span class="fa fa-star" style="color:#FFC200"></span>
                            <span class="fa fa-star" style="color: #B6B5B3"></span>
                            <span class="fa fa-star" style="color: #B6B5B3"></span>`;
        }

        return `<div class="d-flex justify-content-center pt-1">
                        <h1 class="rating-number mt-3 mb-3 fw-bold">${el.starOutOf}</h1>
                        <p class="fw-normal fs-5 mt-3 mb-3 pt-3 ps-1">/5</p>
                    </div>
                        <div class="starSymbol d-flex justify-content-center mb-4">
                            ${starSymbol}
                        </div>
                        <div class="d-flex justify-content-center mt-3">
                            <p>(${el.totalStar}) Ulasan</p>
                    </div>`;
    }


    // Display Rating Bar Vendor
    async function showRatingBar() {
        try {
            const responses = await fetch('api/v1/feedback/rating/8fe348e9-d3b3-4adc-b204-5fc8b8f23814');
            const json = await responses.json();
            const ratingBars = json.data;
            var dataStar = [];

            dataStar.push(ratingBars.allStar.fiveStar, ratingBars.allStar.fourStar, ratingBars.allStar.threeStar,
            ratingBars.allStar.twoStar, ratingBars.allStar.oneStar);

            dataStar.forEach((value, index) => {
                let bar = document.getElementById(`progress-bar-${index + 1}`);
                let voter = document.getElementById(`voters-${index + 1}`);
                voter.innerText = value;

                bar.style.width = `${value/ratingBars.allStar.totalStar * 200}px`;

                document.getElementById
            })

        } catch (error) {
            console.log(error);
        }
    }
    showRatingBar();

</script> -->
