<div class="card card-product-list border-0 p-3 mb-4" onclick="window.location.href='/order-detail/<%= item.OrderId %>'">
  <div class="container">
    <!-- Vendor Name -->
    <div class="row mt-1">
      <div class="col-12 d-flex align-items-center justify-content-between">
        <ul class="list-inline">
          <li class="list-inline-item">
            <b><%= item.Product.Vendor.name %></b>
          </li>
          <li class="list-inline-item">
            <span class="material-icons" style="color: #00acee">
              <%= item.Product.Vendor.isVerified ? 'verified' : '' %>
            </span>
          </li>
        </ul>
        <p style="color: #E4479C"><%= item.progress %></p>
      </div>
      <hr style="border: 1px solid #E4479C">
    </div>

    <!-- Order Product List -->
    <div class="row d-flex">
      <div class="row">
        <div class="col-5 d-flex align-items-center mb-3">
          <img src="<%= item.Product.images[0] %>" class="rounded-3 ms-2 me-4" width="116" height="100">
          <ul class="list-unstyled m-0">
            <li><%= item.Product.name %></li>
            <li class="pb-4"><%= item.Product.Vendor.categories %></li>
            <li class="pt-2">Date : <span><%= new Date(item.book_date).toLocaleDateString('id-ID', {year: 'numeric', month: 'long', day: 'numeric'}) %></span></li>
          </ul>
        </div>

        <div class="col-3 offset-4 mt-5 pt-5">
          <p class="fw-bold pb-3 ms-5">Rp <%= item.price %></p>
        </div>
      </div>

      <hr style="border: 1px solid #E4479C">

      <div class="total-price d-flex justify-content-end my-2">
        <p class="pe-5 me-3 fs-5">Total Pesanan: </p>
        <h5 class="fw-bold me-4">Rp <%= item.Order.total %></h5>
      </div>

      <div class="d-flex justify-content-end">
        <button onClick="setTempId('<%= item.Product.id %>', this)" class="btn btn-outline-primary rounded-pill float-end px-5 pe-5 button-card-nilai me-3"
          data-bs-toggle="modal" data-bs-target="#writeReviewModal">Nilai
        </button>
        <button class="btn btn-outline-primary rounded-pill float-end px-5 pe-5 button-to-vendor"
          onclick="window.location.href='/vendors/<%= item.Product.VendorId %>'">
          Kunjungi Vendor
        </button>
      </div>
    </div>
  </div>
</div>
