<section class="container">
  <h2>Order Detail</h2>
  <div class="card-body">
    <b>Order ID <%= data.id %></b>
    <div>
      <span>Order date: <%= new Date(data.date).toLocaleDateString() %></span>
      <span>| Book date: <%= new Date(data.book_date).toLocaleDateString() %></span>
    </div>
    <p>Payment Status: <%= data.status %></p>
    <p>Payment: <%= data.payment_type %></p>
    <p>Total: <%= data.total %></p>
  </div>
  <h2>Payment</h2>
  <div class="card-body">
    <!-- TODO: Don't show payment URL or QR, if status is settlement -->
    <!-- TODO: Show payment simulator each payment type -->
    <% if (payment.payment_type==='bank_transfer') { %>
      <% payment.va_numbers.map((item)=> { %>
        <p class="jumbotron-heading"><b>Bank: </b> <%= item.bank %></p>
        <p class="jumbotron-heading"><b>Virtual account number:</b> <%= item.va_number %></p>
      <% }); %>
    <% } else if(payment.payment_type==='cstore') { %>
      <p class="jumbotron-heading"><b>Store: </b> <%= payment.store %></p>
      <p class="jumbotron-heading"><b>Payment code:</b> <%= payment.payment_code %></p>
    <% } else if(payment.payment_type==='qris' || payment.payment_type==='gopay') { %>
      <p class="jumbotron-heading"><b>QR:</b></p>
      <img src="<%= payment.qr_image %>" />
    <% } else if(payment.payment_type==='credit_card') { %>
    <% } else { %>
      <p class="jumbotron-heading"><b>Payment URL:</b>
        <a href='<%= payment.payment_url %>' target="_blank">click here</a>
      </p>
    <% } %>
  </div>
  <h2>Product List</h2>
  <% if (data.Products.length === 0) { %>
    <h1 class="jumbotron-heading">
      No products
    </h1>
  <% } else { %>
    <% data.Products.map((item)=> { %>
      <div class="card">
        <div class="card-body">
          <b><%= item.id %></b>
          <p>Nama produk: <%= item.name %></p>
          <p>Nama vendor: <%= item.Vendor.name %></p>
          <p>Harga pembayaran: <%= item.OrderProduct.price %></p>
          <p>Quantity: <b><%= item.OrderProduct.quantity %></b></p>
          <a href="#" class="card-link">Detail</a>
        </div>
      </div>
    <% }); %>
  <% }  %>
</section>
