<section>
  <div class="orderlist-page container-fluid">
    <div class="m-5 ps-5 ms-5">
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/" style="color: #E4479C">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Akun</li>
        </ol>
      </nav>
    </div>

    <div class="container m-5">
      <div class="row">
        <div class="col-3 d-flex flex-column">
          <div class="card-akun p-4">
            <div class="d-flex align-items-center justify-content-start ms-3 mb-2">
              <img src="../images/profile.png" width="50" height="50">
              <p class="ms-3 mt-4"><b><%= user.name %> </b></p>
            </div>

            <hr>

            <div class="d-flex m-4">
              <ul class="nav flex-column list-unstyled">
                <li class="nav-item mb-3">
                  <i class="far fa-user-circle fa-lg"></i>
                  <a href="/profile" class="ms-1 text-dark text-decoration-none">Profil</a>
                </li>
                <li class="nav-item mt-1 mb-5">
                  <i class="fa fa-clipboard-list fa-lg"></i>
                  <a href="/order-list" class="ms-2 text-dark text-decoration-none">Daftar Pesanan</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Order List -->
        <div class="col col-md-8 offset-1 card-order-list border pt-4 pb-2 px-4">
          <!-- Tab Order List -->
          <ul style="border-top: none;" class="nav nav-tabs tab-pesanan justify-content-evenly mb-3" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link text-dark" id="all-tab" data-bs-toggle="tab" data-bs-target="#all" type="button" role="tab" aria-controls="all" aria-selected="true">Semua</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link text-dark" id="wait-payment-tab" data-bs-toggle="tab" data-bs-target="#wait-payment" role="tab" aria-controls="wait-payment">Menunggu Pembayaran</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link text-dark" id="wait-confirm-tab" data-bs-toggle="tab" data-bs-target="#wait-confirm" role="tab" aria-controls="wait-confirm">Menunggu Konfirmasi</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link text-dark" id="prepared-tab" data-bs-toggle="tab" data-bs-target="#prepared" role="tab" aria-controls="prepared">Disiapkan</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link text-dark" id="done-tab" data-bs-toggle="tab" data-bs-target="#done" role="tab" aria-controls="done">Selesai</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link text-dark" id="canceled-tab" data-bs-toggle="tab" data-bs-target="#canceled" role="tab" aria-controls="canceled">Dibatalkan</button>
            </li>
          </ul>

          <!-- Modal for Write Reviews -->
          <div class="modal fade" id="writeReviewModal" tabindex="-1" aria-labelledby="writeReviewModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered">
              <div class="review-modal-content modal-content rounded-3">
                <div class="modal-container container-fluid px-0">
                  <div class="modal-review row">
                    <div class="col-5">
                      <img id="product-img" src="awe" class="pic-reviews img-fluid w-100 rounded-start">
                    </div>

                    <div class="col-7">
                      <div class="modal-body me-4">
                        <h5 class="text-center pt-4"><strong>Review your wedding vendor team</strong></h5>
                        <div class="d-flex justify-content-center align-items-center pt-2">
                          <img id="vendor-img" class="ms-1" width="55" height="55">
                          <div class="ps-3 mt-3">
                            <p>
                              <b id="vendor-name">
                                nama vendor
                              </b><br>
                              <span id="product-name">
                                nama produk
                              </span>
                            </p>
                          </div>
                        </div>

                        <div class="rating-stars text-center pt-2">
                          <ul id="stars" class="p-0">
                            <li class="star" data-value='1'><i class="fa fa-star fa-fw"></i></li>
                            <li class="star" data-value='2'><i class="fa fa-star fa-fw"></i></li>
                            <li class="star" data-value='3'><i class="fa fa-star fa-fw"></i></li>
                            <li class="star" data-value='4'><i class="fa fa-star fa-fw"></i></li>
                            <li class="star" data-value='5'><i class="fa fa-star fa-fw"></i></li>
                          </ul>
                        </div>

                        <!-- Form Write Review -->
                        <form id="form-feedback" action="" method="POST">
                          <input id="input-rating" type="hidden" name="rating" />
                          <div class="form-summary-review w-75 pt-3 ms-0 mb-4">
                            <label for="title-review" class="form-label">Review Title</label>
                            <input type="text" name="title" class="form-control form-control-sm text-sm-start" id="title-review"
                              placeholder="Summarize your experience with this vendor" rows="1">
                          </div>
                          <div class="form-description mb-3 pt-1">
                            <label for="description-review" class="form-label pb-1">
                              Write at least 30 characters about your experience. <br>
                              Include any details that will help other couples make their hiring decision.
                            </label>
                            <textarea class="form-control" id="description-review" name="comment" rows="5"></textarea>
                          </div>
                          <input type="submit" value="Submit" class="btn btn-primary rounded-pill float-end button-submit-review" />
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-content" id="orderlistTabContent">

            <!-- Card Order List - All -->
            <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
              <% if (Object.keys(data).length===0) { %>
                <h1 class="jumbotron-heading">
                  Order not found
                </h1>
              <% } else { %>
                <% if (data.length===0) { %>
                  <h1 class="jumbotron-heading">
                    No orders
                  </h1>
                <% } else { %>
                  <% data.map((item)=> { %>
                    <%- include('cardList', { item }); %>
                  <% }); %>
                <% } %>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
    // Review Modal Section
    let tempProductId, totalRating;
    $(document).ready(function () {
        //Rating stars review in Modal
        $('#stars li').on('mouseover', function () {
          var onStar = parseInt($(this).data('value'), 10);
          totalRating = onStar;
          $(this).parent().children('li.star').each(function (e) {
            if (e < onStar) {
              $(this).addClass('hover');
            }
            else {
              $(this).removeClass('hover');
            }
          });
        }).on('mouseout', function () {
          $(this).parent().children('li.star').each(function (e) {
            $(this).removeClass('hover');
          });
        });

        $('#stars li').on('click', function () {
          var onStar = parseInt($(this).data('value'), 10);
          var stars = $(this).parent().children('li.star');
          // totalRating = onStar;
          const getEl = (el) => document.getElementById(el);
          getEl('input-rating').value = onStar;

          for (i = 0; i < stars.length; i++) {
            $(stars[i]).removeClass('select');
          }

          for (i = 0; i < onStar; i++) {
            $(stars[i]).addClass('select');
          }
        });
      });
    const setTempId = (id, el) => {
      tempProductId = id;
    }
    const nilaiButton = document.getElementById('writeReviewModal');
    const fetchInst = async (method, endpoint, body) => {
      try {
        const data = await fetch('/api/v1' + endpoint, {
          method: method,
          headers: {
            'Content-Type': 'application/json',
            'Accept': 'application/json',
          },
        });
        return data.json();
      } catch (error) {
        throw error;
      }
    }

    nilaiButton.addEventListener('shown.bs.modal', async (e) => {
      e.preventDefault();
      const getEl = (el) => document.getElementById(el);
      const { data } = await fetchInst('GET', '/product/' + tempProductId);
      console.log(totalRating)
      getEl('product-img').src = data.data.images[0];
      getEl('vendor-img').src = data.data.Vendor.banner;
      getEl('vendor-name').innerHTML = data.data.Vendor.name;
      getEl('product-name').innerHTML = data.data.name;
      getEl('form-feedback').action = `/api/v1/feedback/${tempProductId}?redirect=true&vendorId=${data.data.Vendor.id}` ;
    })

    // Progress Section
    const progress = ['DEFAULT', 'UNPAID', 'CONFIRMATION', 'PREPARATION', 'FINISH', 'CANCEL', 'REFUND']
    const triggerTabList = [].slice.call(document.querySelectorAll('#myTab .nav-link'))
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);

    if (urlParams.has('progress')) {
      triggerTabList.forEach((el, index) => {
        if (urlParams.get('progress') === progress[index]) {
          el.classList.add("active");
        }
      })
    } else {
      triggerTabList[0].classList.add("active");
    }

    // Loop tab element
    triggerTabList.forEach((triggerEl, index) => {
      // On tab click
      triggerEl.addEventListener('click', (event) => {
        event.preventDefault();
        if (index === 0) {
          return window.location.href = '/order-list';
        }
        window.location.href = '/order-list?progress=' + progress[index];
      });
    });
</script>
