<footer class="text-white"">
  <div class="footer container-fluid py-5 mt-5">
    <div class="container py-2 mb-2 mt-1">
      <div class="row d-flex justify-content-center py-auto">
        <!-- Logo & Description -->
        <div class="col-lg-6 col-xs-12 mt-4 mb-4 pe-0">
          <a class="logo-white ms-2" href="/">
            <img src="/images/logo-white.png" alt="" width="43" height="56"> 
          </a> 
          <p class="description pr-5 pt-3 mt-1 ms-2 fw-normal">
            Help you realize beautiful Wedding Promises <br> with various vendor recommendations!
          </p>

          <!-- Social Media -->
          <ul class="social-media list-unstyled">
            <li>
              <a class="btn btn-floating text-white" href="https://instagram.com/" target="_blank">
                <i class="fab fa-instagram fa-2x"></i>
              </a>
            </li>
            <li>
              <a class="btn btn-floating text-white" href="https://www.facebook.com/" target="_blank">
                <i class="fab fa-facebook fa-2x"></i>
              </a>
            </li>
            <li>
              <a class="btn btn-floating text-white" href="https://twitter.com/" target="_blank">
                <i class="fab fa-twitter fa-2x"></i>
              </a>
            </li>
            <li>
              <a class="btn btn-floating text-white" href="https://www.linkedin.com/" target="_blank">
                <i class="fab fa-linkedin fa-2x"></i>
              </a>
            </li>
            <li>
              <a class="btn btn-floating text-white" href="https://youtube.com/" target="_blank">
                <i class="fab fa-youtube fa-2x"></i>
              </a>
            </li>
          </ul>
        </div>
        
        <!-- Service -->
        <div class="services col-lg-2 col-xs-12 mt-4 pe-0 me-0 ms-2">
          <h6 class="mt-sm-4 mb-4 fw-bold">Service</h6>
          <ul class="list-unstyled text-small">
            <li class="mb-3"><a class="text-white text-decoration-none" href="/vendors">Vendor</a></li>
            <li class="mb-3"><a class="text-white text-decoration-none" href="/product">Package</a></li>
            <li class="mb-3"><a class="text-white text-decoration-none" href="/promo">Discount</a></li>
          </ul>
        </div>
  
        <!-- Contact Us -->
        <div class="contact col-lg-2 col-xs-12 mt-4 ps-3">
          <h6 class="mt-sm-4 mb-4 fw-bold">Contact Us</h6>
          <ul class="list-unstyled text-small">
            <li class="phone mb-3">0822-4444-222</li>
            <li class="email mb-3">promised@email.id</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Terms & Copyright -->
  <div class="footer-bottom container-fluid py-2">
    <div class="container d-flex justify-content-center">
      <div class="row w-100 d-flex justify-content-around">
        <div class="col-lg-4 col-sm-3 my-auto">
          <a class="terms-condition text-decoration-none text-sm-center" href="#">Terms & Conditions</a>
        </div>
        <div class="col-lg-4 col-sm-3 col-md-3 mt-3">
          <p class="copyright text-lg-end text-sm-center">Design with <i class="fa fa-solid fa-heart text-danger"></i> The A Team</p>
        </div>
      </div>
    </div>
  </div>
</footer>