<section id="navbar">
  <div class="container">
    <div id="wrapper-navbar">
      <div class="block-logo">
        <nav class="navbar navbar-light logo-bar">
          <div class="container">
            <a class="navbar-brand" href="#">
              <img src="../images/logo-nav.png" alt="" width="140" height="50" class="d-inline-block align-text-top" />
            </a>
            <a href="/register" class="btn-link mb-0 h6" id="nav-are">Are you a vendor?</a>
          </div>
        </nav>
      </div>
      <div class="block-menu">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link mb-0 h6"
                  style="margin-left: 0px !important; padding-left: 0px !important"
                  href="/"
                  id="nav-homer"
                  >Home</a
                >
              </li>
            </ul>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link mb-0 h6" href="/vendors" id="nav-vendor">Vendor</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link mb-0 h6" href="/products" id="nav-package">Package</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link mb-0 h6" href="/discount" id="nav-discount">Discount</a>
                </li>
              </ul>
              <a href="/register" class="btn-nav btn-white btn-circled" id="nav-register">Register</a>
              <a href="/login" class="btn-nav btn-pink btn-circled" id="nav-login">Log in</a>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</section>
