<section id="navbar">
  <div class="container">
    <div id="wrapper-navbar">
      <div class="block-logo">
        <nav class="navbar navbar-light logo-bar">
          <div class="container">
            <a class="navbar-brand" href="#">
              <img src="../images/logo-nav.png" alt="" width="140" height="50" class="d-inline-block align-text-top" />
            </a>
          </div>
        </nav>
      </div>
      <div class="block-menu">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link mb-0 h6" style="margin-left: 0px !important; padding-left: 0px !important" href="/"
                  id="nav-homer">Home</a>
              </li>
            </ul>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link mb-0 h6" href="/vendors" id="nav-vendor">Vendor</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link mb-0 h6" href="/products" id="nav-package">Package</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link mb-0 h6" href="/discount" id="nav-discount">Discount</a>
                </li>
              </ul>
              <a href="/cart">
                <img src="../images/Cart.png" alt="" width="30" height="30" class="d-inline-block align-text-top"
                  id="cart" />
              </a>
              <a class="nav-links nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                <img src="../images/profile.png" alt="Profile" class="rounded-circle" href="/profile" width="40"
                  height="40" />
              </a>
              <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                  aria-expanded="false" style="background-color: white; margin-left: 0px">
                  <%= user.name %>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="/profile">Profile</a></li>
                  <li><a class="dropdown-item" href="/api/v1/auth/logout?redirect=true">Logout</a></li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</section>
